<div fxLayout="column">
    <div fxFlex="100%" fxLayout="column" class="topbanner">
        <div class="selectrelation" fxFlex fxShow.xs="false" fxLayout="row">
            <mat-chip-list *ngIf="option" style="margin: 10px">
                <mat-chip color="primary" class="mat-h4">{{ option.relationname }}</mat-chip>
            </mat-chip-list>
            <mat-form-field style="width: 50%">
                <input type="text" placeholder="Select Relation" aria-label="relation" matInput
                    (keyup)="searchGoQuick($event.srcElement.value)" [matAutocomplete]="relations">
                <mat-autocomplete #relations="matAutocomplete" [displayWith]="displayFnRelation">
                    <mat-option *ngFor="let option of filteredRelations; let i = index" [value]="option"
                        (blur)="onSelectRelation(option, i)">
                        {{ option.relationname }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Relations">
            <ng-template mat-tab-label>
                <mat-icon>translate</mat-icon>
                <div fxShow.xs="false">Translations</div>
            </ng-template>
            <!-- TRANSLATIONS________________________________________ -->
            <div class="addtobutton">
                <button mat-fab color="primary" matTooltip="Create new Translation Job" (click)="newTranslationItem()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around">


                <div fxLayout="row" (swipeleft)="swipeleft($event)" (swiperight)="swiperight($event)">
                    <div class="card-left-menu" fxLayout="column" ngClass.gt-xs="listview-normal"
                        ngClass.lt-sm="listview-noshow" [class.listview-xs-show]="listviewxsshow">

                        <mat-form-field>
                            <!-- (keyup.enter)="searchGo(searchTerm.value)" -->
                            <input matInput #searchTerm id="seach-box" placeholder="Name/Address" />
                        </mat-form-field>

                        <!-- (click)="searchGo(searchTerm.value)" -->
                        <button a mat-raised-button color="primary">
                            <mat-icon>search</mat-icon>Search
                        </button>

                        <button a mat-raised-button (click)="getTranslations()">
                            Show All
                        </button>

                        <div class="listview">
                            <div *ngFor="let Translation of Translation" (click)="onSelectTranslation(Translation)"
                                [class.selected]="Translation === selectedTranslation">
                                <div class="boxtranslation">
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <div fxFlex>
                                            {{ Translation.paymentreceived }}
                                        </div>
                                        <div fxFlex>
                                            {{ Translation.amount }}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column"></div>
                                </div>
                            </div>
                        </div>
                        <button mat-mini-fab color="primary" (click)="openDialogDeleteTranslation()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <div *ngIf="selectedTranslation" ngClass.gt-xs="container-normal" ngClass.lt-sm="container-noshow"
                        [class.container-xs-show]="listviewxsshow" fxLayout="column">
                        <div *ngIf="showconfirmation">
                            <mat-card>
                                <label *ngIf="selectedTranslation.paymentreceived === 'paid'"
                                    style="color:green">Payment
                                    Received,
                                    invoice send to your email or under your
                                    account under invoices
                                </label>
                                <label *ngIf="selectedTranslation.paymentreceived === 'expired'"
                                    style="color:red">Payment
                                    expired
                                    please
                                    try again</label>
                                <label *ngIf="selectedTranslation.paymentreceived === 'failed'"
                                    style="color:red">Payment
                                    failed
                                    please
                                    try again or use other method of payment
                                    method</label>
                                <label *ngIf="selectedTranslation.paymentreceived === 'cancelled'"
                                    style="color:red">Payment
                                    cancelled</label>
                            </mat-card>
                        </div>

                        <div *ngIf="selectedTranslation.paymentreceived !== 'paid'">
                            <div *ngFor="let Translationjob of Translationjob"
                                (click)="onSelectTranslationJob(Translationjob)">
                                <mat-card style="margin: 10px 10px 40px 10px;">
                                    <div class="form-full-width" cellspacing="0">
                                        <!-- <mat-toolbar color="primary" class="titlebox">
                        <div>
                          <h2>{{ Translationjob.title }} {{Translationjob.language | uppercase}}</h2>
                        </div>
                      </mat-toolbar> -->
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                <mat-form-field class="form-full-width">
                                                    <input matInput [(ngModel)]="Translationjob.title"
                                                        placeholder="Item Title" class="InputField" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex>
                                                <mat-form-field class="form-full-width">
                                                    <!-- disabled value no options yet for non english -->
                                                    <input matInput [(ngModel)]="Translationjob.language"
                                                        placeholder="Input Language, English" disabled value="en"
                                                        class="InputField" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                <mat-form-field class="form-full-width">
                                                    <mat-select [(ngModel)]="Translationjob.lc_tgt"
                                                        placeholder="Target Language" class="InputField">
                                                        <mat-option *ngFor="let language of languages"
                                                            [value]="language.lc_tgt">
                                                            {{ language.lc_tgt }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex>
                                                <mat-form-field class="form-full-width">
                                                    <!-- dropdown standard or pro -->
                                                    <mat-select [(ngModel)]="Translationjob.tier" placeholder="Tier"
                                                        class="InputField">
                                                        <mat-option value="standard">Standard Translation</mat-option>
                                                        <mat-option value="pro">Professional Translation</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div fxLayout="row" fxLayout.xs="column" rowSpan="6">
                                            <div fxFlex colspan="2">
                                                <mat-form-field class="form-full-width">
                                                    <textarea matInput [(ngModel)]="Translationjob.body_src"
                                                        placeholder="Content" class="InputField"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                <mat-form-field class="form-full-width">
                                                    <textarea matInput [(ngModel)]="Translationjob.comment"
                                                        placeholder="instructions for translator"
                                                        class="InputField"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                {{ Translationjob.status }}
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <button a mat-raised-button (click)="saveTranslationJob(Translationjob)">
                                                Save
                                            </button>
                                        </div>
                                    </div>

                                    <button mat-mini-fab color="primary" (click)="openDialogDeleteTranslationJob()">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card>
                            </div>
                        </div>

                        <div *ngIf="selectedTranslation.paymentreceived === 'paid'">
                            <div *ngFor="let Translationjob of Translationjob; let i = index">
                                <mat-card style="margin: 10px 10px 40px 10px;">
                                    <div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                <label>{{ Translationjob.lc_tgt }}</label>
                                            </div>
                                            <div fxFlex>
                                                <label>{{ Translationjob.status }}</label>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column">
                                            <div fxFlex>
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                <label>{{ Translationjob.body_tgt | slice: 0:100 }}</label>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <label> {{ Translationjob.body_tgt }} </label>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="add-button">
                                        <a class="sub-button tl" (click)="newpublication(i)"
                                            matTooltip="Copy to publication">
                                            <mat-icon>publish</mat-icon>
                                        </a>
                                        <a class="sub-button tr" (click)="newwebsite(i)" matTooltip="Copy to Website">
                                            <mat-icon>web</mat-icon>
                                        </a>
                                        <a class="sub-button bl" (click)="newmailcampaign(i)"
                                            matTooltip="Copy to Email campaign">
                                            <mat-icon>email</mat-icon>
                                        </a>
                                        <a class="sub-button br" (click)="newsocialmedia(i)"
                                            matTooltip="Copy to Social Media ">
                                            <mat-icon>share</mat-icon>
                                        </a>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <button class="addtranslationbutton" mat-mini-fab color="primary"
                                    (click)="createTranslationJob()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <button a mat-raised-button (click)="opendialogconfirmpayment()">
                                    Request Translation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Relations">
            <ng-template mat-tab-label>
                <mat-icon>publish</mat-icon>
                <div fxShow.xs="false">Upload</div>
            </ng-template>

            <app-upload [Relations]="option"></app-upload>


        </mat-tab>
    </mat-tab-group>
</div>