<!-- <table mat-table [dataSource]="tabledata" class="mat-elevation-z8">


    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element.data"> {{element.data}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tablelabels"></tr>
    <tr mat-row *matRowDef="let row; columns: tablelabels;"></tr>
</table> -->

<!-- <table mat-table>
    <tr *ngFor="let row of tabledata[0].data; let i = index;">
        <td>{{tablelabels[i]}}</td>
        <td mat-cell>{{row}}</td>
    </tr>
</table> -->


<div class="table-dashboard">
    <mat-table #table [dataSource]="tabledata[0].data">
      <ng-container [matColumnDef]="col" *ngFor="let col of tablelabels">
        <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tablelabels"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tablelabels;"></mat-row>
    </mat-table>
  </div>