<div style="height: 500px" fxLayout="column">
  <mat-button-toggle-group #group="matButtonToggleGroup" fxFlex="50px" style="width: 100%" fxFlexAlign="start" #group="matButtonToggleGroup" [vertical]="false">
    <mat-button-toggle matTooltip="Local stored videos" style="width: 50%" value="fromaccount">
      <mat-icon>storage</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Standard videos" style="width: 50%"  value="standardvideos">
      <mat-icon>insert_emoticon</mat-icon>
    </mat-button-toggle>
    <!-- <mat-button-toggle matTooltip="Iso icons" style="width: 50%"  value="isoicon">
      <mat-icon>iso</mat-icon>
    </mat-button-toggle> -->
  </mat-button-toggle-group>

  <div *ngIf="group.value == 'standardvideos'" class="gallery" fxFlex="80%" fxLayout="row wrap">
    <div *ngFor="let video of stockvideos; let i = index" fxFlex>
      <div fxLayout="colmn" [class.selected]="video.url === data.selected" (click)="selectedimage(video.url)">
          <!-- <button a mat-raised-button (click)="selectedimage(video.url)"
          [class.selected]="video.url === data.selected"><mat-icon>ondemand_video</mat-icon> {{video.name}}</button> -->
          <video width="100" height="100" fxFlex  preload="auto">
            <source fxFlex src={{video.preview}} type="video/mp4">
          </video>
          <!-- <label>{{video.name}}</label> -->
        </div>
    </div>
  </div>

  <div *ngIf="group.value == 'fromaccount'" class="gallery" fxFlex="80%" fxLayout="row wrap">
    <div *ngFor="let image of data.img; let i = index" fxFlex>
        
      <button a mat-raised-button (click)="selectedimage(image.url)"
      [class.selected]="image.url === data.selected"><mat-icon>ondemand_video</mat-icon> {{image.name}}</button>
     
    </div>
  </div>


  <div class="gallery-bottom" fxFlex="10%">
    <button a mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button a mat-raised-button [mat-dialog-close]="data.selected">
      Import
    </button>
  </div>
</div>
