<div style="height: 500px" fxLayout="column">
  <mat-button-toggle-group  fxFlex="50px" style="width: 100%" fxFlexAlign="start"  [vertical]="false">
    <mat-button-toggle matTooltip="Local stored backgrounds" style="width: 50%" value="fromaccount">
      <mat-icon>storage</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Standard backgrounds" style="width: 50%"  value="standardbackgrounds">
      <mat-icon>insert_emoticon</mat-icon>
    </mat-button-toggle>
    <!-- <mat-button-toggle matTooltip="Iso icons" style="width: 50%"  value="isoicon">
      <mat-icon>iso</mat-icon>
    </mat-button-toggle> -->
  </mat-button-toggle-group>

  <div *ngIf="group.value == 'standardbackgrounds'" class="gallery" fxFlex="80%" fxLayout="row wrap">
    <div *ngFor="let background of stockbackgrounds; let i = index" fxFlex>
      <div fxLayout="colmn" [class.selected]="background.url === data.selected" (click)="selectedimage(background.url)">

          <img src="{{ background.url }}" class="image" (click)="selectedimage(background.url)"
          [class.selected]="background.url === data.selected"/>
          <div [inlineSVG]="background.url" [onSVGLoaded]="handleSVG" (click)="selectedimage(background.url)"
          [class.selected]="background.url === data.selected">
          </div>
        </div>
    </div>
  </div>

  <div *ngIf="group.value == 'fromaccount'" class="gallery" fxFlex="80%" fxLayout="row wrap">
    <div *ngFor="let background of stockanimatedbackground; let i = index" fxFlex>
<!--         
      <img src="{{ background.url }}" class="image" (click)="selectedimage(background.url)"
      [class.selected]="background.url === data.selected"/> -->
      <div [inlineSVG]="background.url" [onSVGLoaded]="handleSVG" (click)="selectedimage(background.url)"
      [class.selected]="background.url === data.selected">
      </div>
    </div>
  </div>


  <div class="gallery-bottom" fxFlex="10%">
    <button a mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button a mat-raised-button [mat-dialog-close]="data.selected">
      Import
    </button>
  </div>
</div>
