<div class="savetobutton">
    <button mat-fab color="primary" matTooltip="Convert to image" (click)="OnSaveImage()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<div fxLayout="row" cdkDropListGroup style="width: 100%; height: 1200px;">

    <div fxFlex="20%" class="edit_table">Edit
        <table style="vertical-align: top;">
            <tr>
                <mat-form-field>
                    <input [(ngModel)]="imagename" type="text" matInput placeholder="Image Name">
                </mat-form-field>
            </tr>
            <tr>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Background Color
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <br>
                        <span [style.background]="canvas['background-color']" [cpToggle]="true"
                            [cpDialogDisplay]="'inline'" [cpOutputFormat]="'hex'"
                            [(colorPicker)]="canvas['background-color']" (colorPickerChange)="detectchange()"></span>
                        <table matTooltip="click to set color">
                            <tr>
                                <td>Primairy color</td>
                                <td>Secondairy color</td>
                            </tr>
                            <tr>
                                <td (click)="canvas['background-color'] = company.companyprimairycolor"
                                    (click)="detectchange()">
                                    {{company.companyprimairycolor}}
                                <td (click)="canvas['background-color'] = company.companysecondarycolor"
                                    (click)="detectchange()">
                                    {{company.companysecondarycolor}}
                            </tr>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
            </tr>
            <tr>
                <mat-form-field>
                    <input (change)="detectchange()" [(ngModel)]="canvas.width" type="text" matInput
                        placeholder="width">
                    <label matSuffix>px/%</label>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field>
                    <input (change)="detectchange()" [(ngModel)]="canvas.height" type="text" matInput
                        placeholder="height">
                    <label matSuffix>px/%</label>
                </mat-form-field>
            </tr>

            <tr cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let image of images; let i = index" cdkDrag>
                    <div *ngIf="image.type === 'image'">
                        <mat-accordion>
                            <mat-expansion-panel style="width: 270px;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <img *ngIf="image.src" src={{image.src}} class="imagesedit"
                                            style="height: 30px; width: auto;">
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="image.style">
                                    <img src={{image.src}} class="imagesedit">
                                    <mat-icon (click)="image.src = ''" class="icon-label" class="iconsize-12">delete
                                    </mat-icon>
                                </div>
                                <app-fileupload *ngIf="!image.src" [account]="Account" [option]="option"
                                    (imgurl)="setImage($event, i)">
                                </app-fileupload>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngIf="image.type === 'text'">
                        <mat-accordion>
                            <mat-expansion-panel style="width: 270px;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <label>{{image.content}}</label>
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table>
                                    <tr>
                                        <!-- <mat-form-field style="width: 90%;">
                                            <textarea style="width: 90%;" [(ngModel)]="image.content"
                                                [matTextareaAutosize] type="text" matInput
                                                placeholder="Footer Text"></textarea>
                                        </mat-form-field> -->

                                        <mat-form-field style="width: 95%;" appearance="outline">
                                            <input matTooltip="insert text" #inputpreview [(ngModel)]="image.content"
                                                type="text" matInput placeholder="Image text">
                                            <mat-icon matTooltip="select Emoji" (click)="onshowemoji(i)" matSuffix>
                                                insert_emoticon</mat-icon>
                                            <mat-hint align="end">{{inputpreview.value?.length || 0}}/90</mat-hint>
                                        </mat-form-field>
                                    </tr>
                                    <tr *ngIf="showemoji">
                                        <td>
                                            <div style="width: 100%;
                                          height: 100%;
                                          position: absolute;
                                          top: 8;
                                          left: 20;
                                          z-index: 20;">
                                                <emoji-mart (emojiClick)="setemoji($event, i)" set="emojione">
                                                </emoji-mart>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <mat-form-field>
                                            <input [(ngModel)]="image.style['font-size']" type="text" matInput
                                                placeholder="font size" (change)="detectchange()">
                                        </mat-form-field>
                                    </tr>
                                    <tr>
                                        <mat-accordion>
                                            <mat-expansion-panel style="width: 240px;">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Text Color
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <br>
                                                <input style="width: 230px;" [style.background]="image.style['color']"
                                                    [cpToggle]="true" [cpOutputFormat]="'hex'"
                                                    [(colorPicker)]="image.style['color']"
                                                    (colorPickerChange)="detectchange()">

                                                <table matTooltip="click to set color">
                                                    <tr>
                                                        <td>Primairy color</td>
                                                        <td>Secondairy color</td>
                                                    </tr>
                                                    <tr>
                                                        <td (click)="image.style['color'] = company.companyprimairycolor"
                                                            (click)="detectchange()">
                                                            {{company.companyprimairycolor}}
                                                        <td (click)="image.style['color'] = company.companysecondarycolor"
                                                            (click)="detectchange()">
                                                            {{company.companysecondarycolor}}
                                                    </tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </tr>
                                    <tr>
                                        <mat-form-field>
                                            <mat-label>Select font</mat-label>
                                            <mat-select [(value)]="image.style['font-family']"
                                                (selectionChange)="detectchange()">
                                                <mat-option value="Arial, Helvetica, sans-serif">Arial</mat-option>
                                                <mat-option value="'Arial Black', Gadget, sans-serif">Arial Black
                                                </mat-option>
                                                <mat-option value="Tahoma, Geneva, sans-serif">Tahoma</mat-option>
                                                <mat-option value="'Times New Roman', Times, serif">Times New Roman
                                                </mat-option>
                                                <mat-option value="Roboto">Roboto</mat-option>
                                                <mat-option value="Open Sans">Open Sans</mat-option>
                                                <mat-option value="Baloo Bhai">Baloo Bhai</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </tr>
                                </table>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngIf="image.type === 'shape'">
                        <mat-accordion>
                            <mat-expansion-panel style="width: 270px;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div style="height: 30px; width: 30px"
                                            [style.background-color]="image.style['background-color']"></div>
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table>
                                    <tr>
                                        <input style="width: 230px;"
                                            [style.background]="image.style['background-color']" [cpToggle]="true"
                                            [(colorPicker)]="image.style['background-color']"
                                            (colorPickerChange)="detectchange()" [cpOutputFormat]="'hex'">

                                        <table matTooltip="click to set color">
                                            <tr>
                                                <td>Primairy color</td>
                                                <td>Secondairy color</td>
                                            </tr>
                                            <tr>
                                                <td (click)="image.style['background-color'] = company.companyprimairycolor"
                                                    (click)="detectchange()">
                                                    {{company.companyprimairycolor}}
                                                <td (click)="image.style['background-color'] = company.companysecondarycolor"
                                                    (click)="detectchange()">
                                                    {{company.companysecondarycolor}}
                                            </tr>
                                        </table>

                                    </tr>

                                </table>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </tr>
            <tr>
                <button mat-mini-fab class="addbutton" matTooltip="Add image" (click)="addNewImage()" color="primary">
                    <mat-icon>image</mat-icon>
                </button>
                <button mat-mini-fab class="addbutton" matTooltip="Add text" (click)="addNewText()" color="primary">
                    <mat-icon>text_format</mat-icon>
                </button>
                <button mat-mini-fab class="addbutton" matTooltip="Add shape" (click)="addNewShape()" color="primary">
                    <mat-icon>format_shapes</mat-icon>
                </button>
            </tr>
        </table>
    </div>

    <div fxFlex="80%">
        <div *ngIf="images.length > 0 && changenow" [ngStyle]="canvas" #myBounds id="myBounds">
            <div *ngFor="let image of images; let i = index;"
                [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }">

                <div *ngIf="image.type === 'image'" style="overflow: hidden;" ngDraggable [bounds]="myBounds"
                    [inBounds]="inBounds" [ngStyle]="image.style" [style.width]="image.style.width"
                    [style.height]="image.style.height" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    ngResizable rzContainment="#myBounds" [rzAspectRatio]="true">
                    <img *ngIf="image.src" style="width: 100%; height: 100%;" src={{image.src}}>
                </div>
                <label ngResizable *ngIf="image.type === 'text'" ngDraggable [bounds]="myBounds" [inBounds]="inBounds"
                    style="width: 100px; height: 100px; overflow: hidden;" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    [ngStyle]="image.style" rzContainment="#myBounds" [rzAspectRatio]="true">{{image.content}}</label>
                <div *ngIf="image.type === 'shape'" style="overflow: hidden;" ngDraggable [bounds]="myBounds"
                    [inBounds]="inBounds" [ngStyle]="image.style" [style.width]="image.style.width"
                    [style.height]="image.style.height" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    ngResizable rzContainment="#myBounds" [rzAspectRatio]="true">
                </div>
            </div>
        </div>
    </div>

</div>