.edit_table{
    min-width: 300px;
    margin-top: 10px;
    position: relative;
    // overflow: hidden;
  } 

  .imagesedit {
    width: 100px;
  }

  .savetobutton {
    // margin-left: 70%;
    // margin-top: 40%;
    bottom: 40px;
    right: 50px;
    position: fixed;
    z-index: 200000;
  }

  .addbutton {
    margin: 5px; 
  }