<div class="savetobutton">
    <button mat-fab color="primary" matTooltip="Convert to image" (click)="OnSaveImage()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<div style="width: 100%; margin: 10px 0px 10px 0px;" (swipeleft)="swipeleft($event)" (swiperight)="swiperight($event)">
    <mat-card style="width: 100%" fxLayout="row wrap" fxLayoutAlign="space-around">
        <mat-form-field>
            <input [(ngModel)]="imagename" type="text" matInput placeholder="Image Name">
        </mat-form-field>

        <input style="width: 150px; height: 30px;" [style.background]="canvas['background-color']" [cpToggle]="false"
            [cpOutputFormat]="'hex'" [(colorPicker)]="canvas['background-color']" (colorPickerChange)="detectchange()"
            [cpCancelButton]="true" [cpPresetLabel]="'Company colors'"
            [cpPresetColors]="[option.companyprimairycolor, option.companysecondarycolor, company.companyprimairycolor, company.companysecondarycolor]">

        <mat-form-field>
            <input (change)="detectchange()" [(ngModel)]="canvas.width" type="text" matInput placeholder="width">
            <label matSuffix>px</label>
        </mat-form-field>

        <mat-form-field>
            <input (change)="detectchange()" [(ngModel)]="canvas.height" type="text" matInput placeholder="height">
            <label matSuffix>px</label>
        </mat-form-field>

        <app-background [account]="Account" [option]="option" (imgurl)="setBackground($event)">
        </app-background>

        <button mat-button (click)="resetImage()">Reset</button>
        <!-- <button mat-button (click)="getEditFile()">get images</button> -->
        <mat-form-field>
            <mat-label>Edit existing image</mat-label>
            <mat-select [(value)]="editableimage">
                <mat-option *ngFor="let editimage of editableimages" [value]="editimage">
                    {{editimage.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="loadEditableImage()">Start edit</button>

    </mat-card>
</div>

<div *ngIf="activeMediaQuery.mqAlias === 'xs'">
    <div *ngIf="!listviewxsshow">
        <label (click)="listviewxsshow = true">show</label>
    </div>
    <div *ngIf="listviewxsshow">
        <label (click)="listviewxsshow = false">don't show</label>
    </div>
</div>

<div class="tabcontainer" fxLayout="row" cdkDropListGroup (swipeleft)="swipeleft($event)"
    (swiperight)="swiperight($event)">


    <div class="card-left-menu" ngClass.gt-xs="listview-normal" ngClass.lt-sm="listview-noshow"
        [class.listview-xs-show]="listviewxsshow" fxLayout="column">
        <label>Edit</label>
        <div fxLayout="column">
            <div fxLayout="column" fxLayout.xs="column" cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let image of images; let i = index" cdkDrag>
                    <div *ngIf="image.type === 'image'">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <img *ngIf="image.src" src={{image.src}} class="imagesedit"
                                            style="height: 30px; width: auto;">
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="image.style">
                                    <img src={{image.src}} class="imagesedit">
                                    <mat-icon (click)="image.src = ''" class="icon-label" class="iconsize-12">delete
                                    </mat-icon>
                                </div>
                                <app-fileupload *ngIf="!image.src" [account]="Account" [option]="option"
                                    (imgurl)="setImage($event, i)">
                                </app-fileupload>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngIf="image.type === 'text'">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <label>{{image.content}}</label>
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column">
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <!-- <mat-form-field style="width: 90%;">
                                            <textarea style="width: 90%;" [(ngModel)]="image.content"
                                                [matTextareaAutosize] type="text" matInput
                                                placeholder="Footer Text"></textarea>
                                        </mat-form-field> -->

                                        <mat-form-field style="width: 95%;" appearance="outline">
                                            <input matTooltip="insert text" #inputpreview [(ngModel)]="image.content"
                                                type="text" matInput placeholder="Image text">
                                            <mat-icon matTooltip="select Emoji" (click)="onshowemoji(i)" matSuffix>
                                                insert_emoticon</mat-icon>
                                            <mat-hint align="end">{{inputpreview.value?.length || 0}}/90</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" *ngIf="showemoji">
                                        <div fxFlex>
                                            <div style="width: 100%;
                                          height: 100%;
                                          position: absolute;
                                          top: 8;
                                          left: 20;
                                          z-index: 20;">
                                                <emoji-mart (emojiClick)="setemoji($event, i)" set="emojione">
                                                </emoji-mart>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <mat-form-field>
                                            <input [(ngModel)]="image.style['font-size']" type="text" matInput
                                                placeholder="font size" (change)="detectchange()">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <mat-accordion>
                                            <mat-expansion-panel style="width: 240px;">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Text Color
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <br>
                                                <input style="width: 230px;" [style.background]="image.style['color']"
                                                    [cpOutputFormat]="'hex'" [(colorPicker)]="image.style['color']"
                                                    (colorPickerChange)="detectchange()"
                                                    [cpPresetLabel]="'Company colors'"
                                                    [cpPresetColors]="[option.companyprimairycolor, option.companysecondarycolor, company.companyprimairycolor, company.companysecondarycolor]">


                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <mat-form-field>
                                            <mat-label>Select font</mat-label>
                                            <mat-select [(value)]="image.style['font-family']"
                                                (selectionChange)="detectchange()">
                                                <mat-option *ngFor="let font of Fonts" [value]="font.value">
                                                    <label [style.font-family]="font.value">{{font.name}}</label>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-button-toggle fxFlex (click)="setbold(image)" value="bold">Bold
                                        </mat-button-toggle>
                                        <mat-button-toggle fxFlex (click)="setitalic(image)" value="italic">Italic
                                        </mat-button-toggle>
                                    </div>

                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngIf="image.type === 'shape'">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div style="height: 30px; width: 30px"
                                            [style.background-color]="image.style['background-color']"></div>
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column">

                                    <input style="width: 230px;" [style.background]="image.style['background-color']"
                                        [(colorPicker)]="image.style['background-color']"
                                        (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                        [cpPresetColors]="[option.companyprimairycolor, option.companysecondarycolor, company.companyprimairycolor, company.companysecondarycolor]">
                                </div>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div *ngIf="image.type === 'chart'">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon>show_chart</mat-icon>
                                        <mat-icon (click)="deleteitem(i)" class="iconsize-12">delete</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Data
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div *ngFor="let label of image.label; let i1 = index;">
                                            <mat-form-field fxflex>
                                                <input (change)="detectchangeLabel(i, i1, label)" [(ngModel)]="label"
                                                    type="text" matInput placeholder="label">
                                            </mat-form-field>
                                        </div>
                                        <mat-icon (click)="deletelabel(i, i1)" class="iconsize-12">delete</mat-icon>
                                        <mat-icon (click)="addLabel(i, i1)">add</mat-icon>
                                        <div *ngFor="let row of image.data; let i1 = index;" fxLayout="column">

                                            <mat-form-field fxflex>
                                                <input (change)="detectchangerowlabel(i, i1, row.label)"
                                                    [(ngModel)]="row.label" type="text" matInput>
                                            </mat-form-field>
                                            <div fxFlex fxLayout="row wrap">
                                                <div *ngFor="let cell of row.data; let i2 = index;">
                                                    <mat-form-field fxflex style="width: 20px;">
                                                        <input (change)="detectchangerowcell(i, i1, i2, cell)"
                                                            [(ngModel)]="cell" type="text" matInput>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <mat-icon (click)="deletecell(i, i1)" class="iconsize-12">delete</mat-icon>
                                            <mat-icon (click)="addcell(i, i1, i2)">add</mat-icon>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Colors
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div *ngFor="let colors of image.colors" fxLayout="column">
                                            Color Specification
                                            <input style="width: 150px;" [style.background]="colors.backgroundColor"
                                                [(colorPicker)]="colors.backgroundColor"
                                                (colorPickerChange)="detectchange()" [cpCancelButton]="true"
                                                [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[option.companyprimairycolor, option.companysecondarycolor, company.companyprimairycolor, company.companysecondarycolor]">
                                            <mat-icon class="iconsize-12" (click)="colors.backgroundColor = ''">delete
                                            </mat-icon>
                                            <input style="width: 150px;" [style.background]="colors.borderColor"
                                                [(colorPicker)]="colors.borderColor"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.companysecondarycolor]">
                                            <mat-icon class="iconsize-12" (click)="colors.borderColor = ''">delete
                                            </mat-icon>
                                            <input style="width: 150px;"
                                                [style.background]="colors.pointBackgroundColor"
                                                [(colorPicker)]="colors.pointBackgroundColor"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12" (click)="colors.pointBackgroundColor = ''">
                                                delete
                                            </mat-icon>
                                            <input style="width: 150px;" [style.background]="colors.pointBorderColor"
                                                [(colorPicker)]="colors.pointBorderColor"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12" (click)="colors.pointBorderColor = ''">delete
                                            </mat-icon>
                                        </div>

                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Chart type
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-form-field>
                                            <mat-select [(value)]="image.charttype"
                                                (selectionChange)="detectchangetype(i, image.charttype)">
                                                <mat-option value="line">line</mat-option>
                                                <mat-option value="bar">bar</mat-option>
                                                <mat-option value="radar">radar</mat-option>
                                                <mat-option value="pie">pie</mat-option>
                                                <mat-option value="polarArea">Polararea</mat-option>
                                                <mat-option value="doughnut">Doughnut</mat-option>
                                                <!-- <mat-option value="bubble">Bubble</mat-option>
                                                      <mat-option value="scatter">Scatter</mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                        <div fxLayout="column">
                                            X-Axe
                                            Gridline color
                                            <input
                                                [style.background]="image.lineChartOptions.scales.xAxes[0].gridLines.color"
                                                [(colorPicker)]="image.lineChartOptions.scales.xAxes[0].gridLines.color"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12"
                                                (click)="image.lineChartOptions.scales.xAxes[0].gridLines.color = ''">
                                                delete
                                            </mat-icon>
                                            X-Axe
                                            Font color
                                            <input
                                                [style.background]="image.lineChartOptions.scales.xAxes[0].ticks.fontColor"
                                                [(colorPicker)]="image.lineChartOptions.scales.xAxes[0].ticks.fontColor"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12"
                                                (click)="image.lineChartOptions.scales.xAxes[0].ticks.fontColor = ''">
                                                delete
                                            </mat-icon>
                                            Y-axe
                                            Gridline color
                                            <input
                                                [style.background]="image.lineChartOptions.scales.yAxes[0].gridLines.color"
                                                [(colorPicker)]="image.lineChartOptions.scales.yAxes[0].gridLines.color"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12"
                                                (click)="image.lineChartOptions.scales.yAxes[0].gridLines.color = ''">
                                                delete
                                            </mat-icon>
                                            Y-axe
                                            Font color
                                            <input
                                                [style.background]="image.lineChartOptions.scales.yAxes[0].ticks.fontColor"
                                                [(colorPicker)]="image.lineChartOptions.scales.yAxes[0].ticks.fontColor"
                                                (colorPickerChange)="detectchange()" [cpPresetLabel]="'Company colors'"
                                                [cpPresetColors]="[company.companyprimairycolor, company.secondarycolor]">
                                            <mat-icon class="iconsize-12"
                                                (click)="image.lineChartOptions.scales.xAxes[0].ticks.fontColor = ''">
                                                delete
                                            </mat-icon>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-icon (click)="addgraph(i)">add</mat-icon>
                                <mat-icon (click)="deletegraph(i)">delete</mat-icon>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.xs="column">
                <button mat-mini-fab class="addbutton" matTooltip="Add image" (click)="addNewImage()" color="primary">
                    <mat-icon>image</mat-icon>
                </button>
                <button mat-mini-fab class="addbutton" matTooltip="Add text" (click)="addNewText()" color="primary">
                    <mat-icon>text_format</mat-icon>
                </button>
                <button mat-mini-fab class="addbutton" matTooltip="Add shape" (click)="addNewShape()" color="primary">
                    <mat-icon>format_shapes</mat-icon>
                </button>
                <button mat-mini-fab class="addbutton" matTooltip="Add Chart" (click)="addNewChart()" color="primary">
                    <mat-icon>show_chart</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <div *ngIf='showprogressbar' class="showprogressbardiv">
        <div style="width: 50%; margin: 0 auto; justify-content: center; align-items: center;">
            <mat-spinner style="width: 50%; margin: 0 auto;" mode="indeterminate"></mat-spinner>
            <br>
            <h1>Creating your awesome image one moment please... </h1>
        </div>
    </div>

    <div ngClass.gt-xs="container-normal" ngClass.lt-sm="container-noshow" [class.container-xs-show]="listviewxsshow">
        <div *ngIf="images.length > 0 && changenow" [ngStyle]="canvas" #myBounds id="myBounds">
            <div *ngFor="let image of images; let i = index;"
                [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }">

                <div *ngIf="image.type === 'image'" style="overflow: hidden;" ngDraggable [bounds]="myBounds"
                    [inBounds]="inBounds" [ngStyle]="image.style" [style.width]="image.style.width"
                    [style.height]="image.style.height" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    ngResizable rzContainment="#myBounds" [rzAspectRatio]="true">
                    <img *ngIf="image.src" style="width: 100%; height: 100%;" src={{image.src}}>
                </div>
                <label ngResizable *ngIf="image.type === 'text'" ngDraggable [bounds]="myBounds" [inBounds]="inBounds"
                    style="width: 100px; height: 100px; overflow: hidden;" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    [ngStyle]="image.style" rzContainment="#myBounds" [rzAspectRatio]="false">{{image.content}}</label>
                <div *ngIf="image.type === 'shape'" style="overflow: hidden;" ngDraggable [bounds]="myBounds"
                    [inBounds]="inBounds" [ngStyle]="image.style" [style.width]="image.style.width"
                    [style.height]="image.style.height" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    ngResizable rzContainment="#myBounds" [rzAspectRatio]="false">
                </div>
                <div *ngIf="image.type === 'chart'" style="overflow: hidden;" ngDraggable [bounds]="myBounds"
                    [inBounds]="inBounds" [style.height]="image.style.height" (movingOffset)="onMoving($event, i)"
                    [preventDefaultEvent]="true" [position]="image.setpos" (rzResizing)="onResizing($event, i)"
                    ngResizable rzContainment="#myBounds" [rzAspectRatio]="false" [ngStyle]="image.style">

                    <canvas baseChart width="image.style.width" height="image.style.height" [datasets]="image.data"
                        [labels]="image.label" [colors]="image.colors" [legend]="image.legend"
                        [options]="image.lineChartOptions" [chartType]="image.charttype" [plugins]="lineChartPlugins"
                        [attr.id]="'graph' + i">
                    </canvas>
                </div>
                <!--  -->
            </div>
        </div>
    </div>

</div>