
  .toolsmenu{
    //display: inline-block;
    margin: 10px;
    float: right;
    height: 100%;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }


  .campaignbox{
    margin-left: 100px; 
  }

  .mat-fab{
    margin-top: 300px;
    display: inline-block;
  }

  .mat-fab-toolsmenu{
    margin: 20px;
  }

  .selected {
   background-color: #686a66;
  }

  .addtobutton {
    // margin-left: 70%;
    // margin-top: 40%;
    bottom: 40px;
    right: 50px;
    position: fixed;
    z-index: 99;
  }