
.progressbarline {
    width: 500px;
    height: 20px;
    background-color: greenyellow;
}

.savetobutton {
    // margin-left: 70%;
    // margin-top: 40%;
    bottom: 40px;
    right: 50px;
    position: fixed;
    z-index: 200000;
  }