<div class="background-container">

  <div *ngIf="showconfirmation">
    <mat-card>
      <label style="color:green">Payment approved, please check your mailbox to activate your account and login.
      </label>
      <!-- <label *ngIf="selectedAccount.paymentreceived === 'paid'" style="color:green">Payment Received,
        invoice send to your email or under your
        account under invoices
      </label> -->
      <!-- <label *ngIf="selectedAccount.paymentreceived === 'expired'" style="color:red">Payment expired
        please
        try again</label>
      <label *ngIf="selectedAccount.paymentreceived === 'failed'" style="color:red">Payment failed
        please
        try again or use other method of payment
        method</label>
      <label *ngIf="selectedAccount.paymentreceived === 'cancelled'" style="color:red">Payment
        cancelled</label> -->
    </mat-card>
  </div>

  <div class="logincontainer" *ngIf="logintoggle">
    <section class="mat-typography">
      <h1>Login</h1>
    </section>

    <div fxLayout="column" class="form-login">
      <div fxLayout="row">
        <div fxLayout="column" class="form-full-width">
          <mat-form-field>
            <input matInput name="email" type="email" [(ngModel)]="Account.email" placeholder="email" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" class="form-full-width">
          <mat-form-field>
            <input matInput placeholder="Enter your password" name="password" [(ngModel)]="Account.password"
              [type]="!hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-checkbox [(ngModel)]="rememberMe">Remember Me</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row">
        <div *ngIf="errorMessage" fxLayout="column">
          <section class="mat-typography">
            <label>{{errorMessage.message}}</label>
          </section>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" *ngIf="response">
          <section class="mat-typography">
            <label>{{responsemessage}}</label>
          </section>
        </div>
      </div>
      <div fxLayout="row">

        <button (click)="login()" a mat-raised-button>Login</button>
        <button (click)="registertoggleform()" a mat-raised-button>Register</button>

      </div>
    </div>

  </div>

  <div *ngIf="registertoggle" class="registercontainer">
    <section class="mat-typography">
      <h1>Register</h1>
    </section>
    <div fxLayout="row">
      <div fxLayout="column" class="form-full-width">
        <mat-form-field>
          <input matInput (keyup)="checkall()" name="username" type="name" [(ngModel)]="Account.username" placeholder="Username" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <mat-form-field class="form-full-width">
          <input matInput (keyup)="checkall()" name="companyname" type="name" [(ngModel)]="Account.companyname" placeholder="Company" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" class="form-full-width">
        <mat-form-field>
          <input matInput (keyup)="checkall()" name="email" type="email" [(ngModel)]="Account.email" placeholder="email" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
          <mat-label>Password</mat-label>
          <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
          <input matInput #password [type]="toggleVisbility.type" placeholder="Password" [(ngModel)]="Account.password">
          <mat-hint align="end" aria-live="polite">
            {{password.value.length}} / {{passwordComponent.max}}
          </mat-hint>
        </mat-form-field>
        <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
          [password]="password.value">
        </mat-password-strength>
        <mat-password-strength-info [passwordComponent]="passwordComponent" [enableScoreInfo]="true">
        </mat-password-strength-info>
      </div>
    </div>
    <div fxLayout="row">
      <div *ngIf="errorMessage" fxLayout="column">
        <section class="mat-typography">
          <label>{{errorMessage.message}}</label>
        </section>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" *ngIf="responsemessage">
        <section class="mat-typography">
          <label> {{responsemessage}}</label>
        </section>
      </div>
    </div>
    <br>
    <div fxLayout="row">
      <button (click)="backtoggle()" a mat-raised-button>Back</button>
      <button (click)="register()" a mat-raised-button
      [disabled]="!registerbutton">
      Select plan</button>
    </div>

  </div>

  <div *ngIf="planselectiontoggle" class="selectplancontainer">
    <section class="mat-typography">
      <h1>Select Plan</h1>
    </section>
    <div class="form-login">
      <mat-button-toggle-group name="currency" [(ngModel)]="selectedcurrency">
        <mat-button-toggle value="EUR" (change)="updateplan()">
          EUR
        </mat-button-toggle>
        <mat-button-toggle value="USD" (change)="updateplan()">
          USD
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div fxLayout="row">
        <mat-button-toggle-group name="plan" [(ngModel)]="selectedplan">
          <mat-button-toggle value="standard" disabled (change)="updateplan()">
            Standard Plan(not available)
            <mat-list role="list" disabled="true">
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>1.000 emails/Month
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>E-mail/Chat Support
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>1 user
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>500 MB storage
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Video creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>GIF creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Image creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Email creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>> 1000 standard graphics
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>Website tracker
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>Social Media Planner
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>CRM
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>Translation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>AI text creation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>Work in Teams
              </mat-list-item>
              <h2>{{ standard | currency: selectedcurrency}}</h2>
            </mat-list>
          </mat-button-toggle>
          <mat-button-toggle value="agency" (change)="updateplan()">
            Agency Plan
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>10.000 emails/Month
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>E-mail/Chat Support
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>1 user
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>5 GB storage
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Video creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>GIF creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Image creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Email creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>> 1000 standard graphics
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Website tracker
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Social Media Planner
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>CRM
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Translation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>AI text creation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>clear</mat-icon>Work in Teams
              </mat-list-item>
              <h2> {{ agency | currency: selectedcurrency}}</h2>
            </mat-list>
          </mat-button-toggle>
          <mat-button-toggle value="enterprise" (change)="updateplan()">
            Enterprise Plan
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>60.000 emails/Month
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Dedicated support engineer 24/7
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>10 users
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>unlimited storage
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Video creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>GIF creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Image creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Email creator
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>> 1000 standard graphics
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Website tracker
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Social Media Planner
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>CRM
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Translation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>AI text creation service
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon>check</mat-icon>Work in Teams
              </mat-list-item>
              <h2> {{ enterprise | currency: selectedcurrency}} </h2>
            </mat-list>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card fxLayout="column">
          <mat-checkbox [(ngModel)]="addemails" (change)="updateplan()">Add extra emails</mat-checkbox>
          <mat-slider matTooltip="Add extra email" [(ngModel)]="emailcount" min="1" [tickInterval]="tickInterval"
            [step]="1" [disabled]="!addemails" max="100" thumbLabel="true" (change)="updateplan()"></mat-slider>
          <section class="mat-typography">
            <label>{{emailcount}}</label><label *ngIf="emailcount > 0">000 &nbsp; emails</label>
          </section>
        </mat-card>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card fxLayout="column">
          <mat-checkbox [(ngModel)]="extrausers" (change)="updateplan()">Add additional users</mat-checkbox>
          <mat-slider matTooltip="Add extra users" [(ngModel)]="additionalusers" min="1" [tickInterval]="tickInterval"
            [step]="1" [disabled]="!extrausers" max="100" thumbLabel="true" (change)="updateplan()"></mat-slider>
          <section class="mat-typography">
            <label>{{additionalusers}} &nbsp; users {{user | currency: selectedcurrency}}</label>
          </section>
        </mat-card>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card>
          <mat-checkbox [(ngModel)]="migrationsupport" (change)="updateplan()">Migration Support
            {{ migration | currency: selectedcurrency }}</mat-checkbox>
        </mat-card>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card>
          <mat-checkbox [(ngModel)]="trainingsupport" (change)="updateplan()">Training Support
            {{ training | currency:  selectedcurrency }} </mat-checkbox>
        </mat-card>
      </div>
      <br>
      <div fxLayout="column">
        <mat-button-toggle-group name="paymentterm" [(ngModel)]="terms">
          <mat-button-toggle value="monthly" (change)="updateplan()">Monthly</mat-button-toggle>
          <mat-button-toggle value="yearly" (change)="updateplan()">Yearly (-10% discount)</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card fxLayout="row">
          <label>Total Monthly:
            &nbsp; {{total | currency: selectedcurrency }}</label>
        </mat-card>
        <br>
      </div>
      <div fxLayout="column">
        <mat-card fxLayout="row">
          <label>Total Yearly:
            &nbsp; {{yearly | currency: selectedcurrency }} </label>
        </mat-card>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card fxLayout="row">
          <label>Total One-time:
            &nbsp; {{onetime| currency: selectedcurrency }} </label>
        </mat-card>
      </div>

      <div fxLayout="row">
        <div fxLayout="column" *ngIf="error">
          <section class="mat-typography">
            <label>{{ errorMessage.message }}</label>
          </section>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" *ngIf="response">
          <section class="mat-typography">
            <label>{{ responsemessage }}</label>
          </section>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <button (click)="backtoggle()" a mat-raised-button>Back</button>
        <button (click)="opendialogconfirmpayment()" a mat-raised-button>Go to payment details</button>
      </div>
    </div>
  </div>
</div>