<div class="background-container">
  <div class="logincontainer" *ngIf="logintoggle">
    <section class="mat-typography">
      <h1>Login</h1>
    </section>

    <div fxLayout="column" class="form-login" cellspacing="0">
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field class="form-full-width">
            <input matInput name="email" type="email" [(ngModel)]="Account.email" placeholder="email" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Enter your password" name="password" [(ngModel)]="Account.password"
              [type]="!hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-checkbox [(ngModel)]="rememberMe">Remember Me</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row">
        <div *ngIf="error" fxLayout="column">
          {{this.errorMessage.message}}
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" *ngIf="response">
          {{this.responsemessage}}
        </div>
      </div>
      <div fxLayout="row">

        <button (click)="login()" a mat-raised-button>Login</button>
        <button (click)="registertoggleform()" a mat-raised-button>Register</button>

      </div>
    </div>

  </div>

  <div *ngIf="registertoggle" class="registercontainer">
    <section class="mat-typography">
      <h1>Register</h1>
    </section>
    <div class="form-login" cellspacing="0">
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field class="form-full-width">
            <input matInput name="username" type="name" [(ngModel)]="Account.username" placeholder="Username" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field class="form-full-width">
            <input matInput name="companyname" type="name" [(ngModel)]="Account.companyname"
              placeholder="CompanyName" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field class="form-full-width">
            <input matInput name="email" type="email" [(ngModel)]="Account.email" placeholder="email" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <!-- <mat-form-field class="form-full-width">
            <input matInput name="password" type="password" [(ngModel)]="Account.password" placeholder="password" />
          </mat-form-field> -->
          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
            <mat-label>Password</mat-label>
            <input matInput #password type="password" required placeholder="Password" [(ngModel)]="Account.password">
            <mat-hint align="end" aria-live="polite">
              {{Account.password.length}} / 25
            </mat-hint>
          </mat-form-field>
          <mat-password-strength #passwordComponent [password]="password.value">
          </mat-password-strength>
        </div>
      </div>
      <div fxLayout="row">
          <mat-card>
              <mat-checkbox>Standard Plan</mat-checkbox>
          </mat-card>
          <mat-card>
              <mat-checkbox>Agency Plan</mat-checkbox>
          </mat-card>
          <mat-card>
              <mat-checkbox>Enterprise Plan</mat-checkbox>
          </mat-card>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" *ngIf="error">
          {{this.errorMessage.message}}
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" *ngIf="response">
          {{this.responsemessage}}
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <button (click)="register()" a mat-raised-button>Register</button>
        <button (click)="backtoggle()" a mat-raised-button>Back</button>
      </div>
    </div>
  </div>
</div>