<div fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around" class="home-wrapper">

  <div *ngIf="Account" fxFlex="100%" fxLayout="column" class="topbanner">
    <mat-card style="min-height: 100px">
      <mat-card-content>
        <div style="margin-left: 100px" fxFlex fxShow.xs="false">
          <tr>
            <td>
              <mat-icon>person</mat-icon> Welcome back, {{ Account.username }}
            </td>
          </tr>
          <tr>
            <td>
              <mat-icon>work</mat-icon> {{ Account.companyname }}
            </td>
          </tr>
          <tr>
            <td>
              <mat-icon>schedule</mat-icon> Last login:
              {{ Account.lastlogin | date: "medium" }}
            </td>
          </tr>
        </div>
        <div fxFlex class="selectrelation">

          <mat-chip-list *ngIf="option" style="margin: 10px">
            <mat-chip color="primary" class="mat-h4">{{ option.relationname }}</mat-chip>
          </mat-chip-list>
          <mat-form-field>
            <input type="text" placeholder="Select Relation" aria-label="relation" matInput
              (keyup)="searchGoQuick($event.srcElement.value)" [matAutocomplete]="relations">
            <mat-autocomplete #relations="matAutocomplete" [displayWith]="displayFnRelation">
              <mat-option *ngFor="let option of filteredRelations; let i = index" [value]="option"
                (blur)="onSelectRelation(option, i)">
                {{ option.relationname }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field class="selectboxheader">
            <mat-select [(ngModel)]="selectedanalytics.name" placeholder="GA Account" class="InputField"
              (selectionChange)="buildDashboard()">
              <mat-option *ngFor="let selectedanalytics of GoogleanalyticsModel" [value]="selectedanalytics">
                {{ selectedanalytics.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="changenow" fxLayout="column" fxLayoutAlign="space-around">
    <div *ngFor="let dashitem of dashboardsetup">
      <div *ngIf="dashitem.type === 'googleanalytics'"
    </div>
  </div>

  <div *ngIf="changenow" fxLayout="column" fxLayoutAlign="space-around">
    <!-- <div fxFlex="5%">
      <h3 class="mat-h3">Selected Account: {{ option.relationname }}</h3>
    </div> -->

    <div fxFlex="30%" fxLayout.lt-md="column" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div *ngIf="barChartManagerData.length > 0">
          <canvas baseChart [datasets]="barChartManagerData" [labels]="barChartManagerLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div *ngIf="barChartDataChannel.length > 0">
          <canvas baseChart [datasets]="barChartDataChannel" [labels]="barChartChannelLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>


    </div>

    <div fxFlex="30%" fxLayout.lt-md="column" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart #baseChartBar="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart #baseChartBarChannel="base-chart" [datasets]="barChartDataChannel"
            [labels]="barChartChannelLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>


    </div>

    <!-- fxLayout.lt-md="column" -->
    <div fxFlex="30%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
      <div fxFlex="45%" class="innerfollowup">
        <a mat-mini-fab color="primary" style="float: right;" (click)="getAdsMailing()">
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Scheduled Mailings, Ads and Articles</label>
        <mat-divider></mat-divider>
        <table class="websitedata">
          <tr fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
            <mat-list-item>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Campaign</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Subject</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">From</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Title</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Date</label>
              </th>
            </mat-list-item>
          </tr>
          <tr  fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around"
            *ngFor="let Mailing of Mailing; let i = index">
            <mat-list-item>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{Mailing.marketingplannereventsIds}}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ Mailing.subject }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ Mailing.from | slice: 0:50 }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ Mailing.title }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{Mailing.date | date: "medium"}}</label>
              </td>
            </mat-list-item>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </div>
      <div fxFlex="45%" class="innerfollowup">
        <label class="mat-h4">Follow Up</label>
        <mat-divider></mat-divider>
        <div>
          <mat-list class="followuptable">
            <table class="followuptableinner">
              <tr *ngFor="let Calls of Calls; let i = index">
                <mat-list-item>
                  <td class="td1">
                    <label class="followuplist">{{
                      Calls.relations.relationname
                    }}</label>
                  </td>
                  <td class="td2">
                    <label class="followuplist">{{
                      Calls.title | slice: 0:30
                    }}</label>
                  </td>
                  <td class="td3">
                    <label class="followuplist">{{
                      Calls.callbackdate | date
                    }}</label>
                  </td>
                  <td class="td4">
                    <mat-checkbox class="followuplist" (click)="changeFollowUp(i)" [(ngModel)]="Calls.followupdone">
                    </mat-checkbox>
                  </td>
                </mat-list-item>
                <mat-divider></mat-divider>
              </tr>
            </table>
          </mat-list>
        </div>
      </div>
    </div>

    <div fxFlex="30%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="90%" class="innerfollowup">
        <a mat-mini-fab color="primary" style="float: right;" (click)="getWebsiteTracker()">
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Website Visitors</label>
        <mat-divider></mat-divider>
        <div>
          <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
            <div fxFlex="23%">
              <h4 class="mat-h4">Source</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Visited URL</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Address</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Date</h4>
            </div>
            <div fxFlex="8%">
              <h4 class="mat-h4">isp</h4>
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel (opened)="findWebsiteTrackerByIP(Websitetracker)" class="websitedata"
              *ngFor="let Websitetracker of Websitetracker; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
                    <div fxFlex="23%">
                      <label class="followuplist">
                        {{ Websitetracker.companyname }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label class="followuplist">{{ Websitetracker.url | slice: 0:50 }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label class="followuplist">{{ Websitetracker.street }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label class="followuplist">{{ Websitetracker.date | date: "medium" }}</label>
                    </div>
                    <div fxFlex="8%">
                      <label (click)="markisp(i)" style="font-size: 6pt">Mark isp</label>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngFor="let visit of WebsitetrackerFullList" class="websitedata" fxLayout="row" fxLayoutWrap="wrap"
                fxLayoutAlign="space-around">
                <div fxFlex="50%">
                  <label class="followuplist">{{ visit.url | slice: 0:50 }}</label>
                </div>
                <div fxFlex="50%">
                  <label class="followuplist">{{ visit.date | date: "medium" }}</label>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

    </div>

    <div fxFlex.gt-xs="30%" fxFlex.lt-sm="50%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
      <div fxFlex="90%" class="doubleflex">
        <label class="mat-h4">Email Activities</label>
        <!-- <mat-select style="width: 200px; height: 50px;" placeholder="Select Domain"
        [(value)]="selecteddomain">
        <mat-option *ngFor="let domain of domains" [value]="selecteddomain" (blur)="getMailStats()">
          {{ domain }}
        </mat-option>
      </mat-select> -->
        <mat-divider></mat-divider>
        <mat-spinner *ngIf="mailstatsspinner" style="margin: auto;"></mat-spinner>
        <div *ngIf="mailstatsspinner === false" style="min-height: 400px">
          <canvas baseChart #baseMailChart="base-chart" [datasets]="MailChartData" [labels]="MailChartLabels"
            [options]="MailChartOptions" [legend]="MailChartLegend" [chartType]="MailChartType"
            (chartHover)="MailChartHovered($event)" (chartClick)="MailChartClicked($event)"></canvas>

        </div>
        <mat-select style="width: 200px; height: 50px;" placeholder="Select timeframe"
          [(value)]="mailStatsTimeSelected">
          <mat-option *ngFor="let mailStatsTime of mailStatsTime" [value]="mailStatsTime" (blur)="getMailStats()">
            {{ mailStatsTime.viewValue }}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div  fxFlex="30%" fxLayout="row wrap" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
      <div *ngIf="doughnutChartData.length > 0" fxFlex.gt-xs="45%" fxFlex.lt-sm="90%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType" (chartHover)="chartHovered2($event)"
            (chartClick)="chartClicked2($event)"></canvas>
        </div>
      </div>

      <div *ngIf="doughnutChartData.length > 0" fxFlex.gt-xs="45%" fxFlex.lt-sm="90%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-form-field>
          <mat-select [(value)]="polarAreaChartType" (selectionChange)="detectchange()">
            <mat-option value="line">line</mat-option>
            <mat-option value="bar">bar</mat-option>
            <mat-option value="radar">radar</mat-option>
            <mat-option value="pie">pie</mat-option>
            <mat-option value="polarArea">Polararea</mat-option>
            <mat-option value="doughnut">Doughnut</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType">
        </canvas>
      </div>
    </div>

    <div *ngIf="lineChartData.length > 0" fxFlex="40%">
      <label class="mat-h4">Website Visitors by Day</label>
      <mat-form-field>
        <mat-select [(value)]="lineChartType" (selectionChange)="detectchange()">
          <mat-option value="line">line</mat-option>
          <mat-option value="bar">bar</mat-option>
          <mat-option value="radar">radar</mat-option>
          <mat-option value="pie">pie</mat-option>
          <mat-option value="polarArea">Polararea</mat-option>
          <mat-option value="doughnut">Doughnut</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

    <div *ngIf="barChart2Data.length > 0" fxFlex="40%">
      <label class="mat-h4">Website Visitors by Region</label>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas baseChart [datasets]="barChart2Data" [labels]="barChart2Labels"
          [options]="barChart2Options" [legend]="barChart2Legend" [chartType]="barChart2Type"
          (chartHover)="chart2Hovered($event)" [colors]="barChart2Colors" (chartClick)="chart2Clicked($event)"></canvas>
      </div>
    </div>

    <div fxFlex="30%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">


    </div>
  </div>