<div fxLayout="column" class="home-wrapper">

  <div *ngIf="Account" style="height: auto" class="topbanner">
    <mat-card>
      <div style="margin-left: 100px" fxFlex fxShow.xs="false">
        <tr>
          <td>
            <mat-icon>person</mat-icon> Welcome back, {{ Account.username }}
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>work</mat-icon> {{ Account.companyname }}
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon>schedule</mat-icon> Last login:
            {{ Account.lastlogin | date: "medium" }}
          </td>
        </tr>
      </div>
      <div fxFlex class="selectrelation">

        <mat-chip-list *ngIf="option" style="margin: 10px">
          <mat-chip color="primary" class="mat-h4">{{ option.relationname }}</mat-chip>
        </mat-chip-list>
        <mat-form-field>
          <input type="text" placeholder="Select Relation" aria-label="relation" matInput
            (keyup)="searchGoQuick($event.srcElement.value)" [matAutocomplete]="relations">
          <mat-autocomplete #relations="matAutocomplete" [displayWith]="displayFnRelation">
            <mat-option *ngFor="let option of filteredRelations; let i = index" [value]="option"
              (blur)="onSelectRelation(option, i)">
              {{ option.relationname }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf="selectedanalytics" class="selectboxheader">
          <mat-select [(ngModel)]="selectedanalytics.name" placeholder="GA Account" class="InputField"
            (selectionChange)="buildDashboard()">
            <mat-option *ngFor="let selectedanalytics of GoogleanalyticsModel" [value]="selectedanalytics">
              {{ selectedanalytics.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="Account" class="selectboxheader">
          <mat-select placeholder="Dashboard" class="InputField"
            (selectionChange)="loadDashboard($event)">
            <mat-option *ngFor="let dash of Account.dashboards; let i = index;" [value]="i">
              <div fxLayout="row">
              {{ dash.name }}
            </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
  </div>

  <div *ngIf="changenow" fxLayout="row wrap" fxLayoutGap="25px">

    <div class="speed-dial-dashboard" fxLayout="row">
      <speed-dial-fab matTooltip="Add new item"  [reverse-column-direction]="false" [direction]="row"
      (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
    </speed-dial-fab>
    <button mat-mini-fab matTooltip="Toggle Edit mode" (click)="editmodeChange()" color="primary">
      <mat-icon aria-label="label">edit</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Create new Dashboard" (click)="newDashboard()" color="primary">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
    </div>


    <div *ngFor="let dashitem of dashboardsetup; let i1 = index;" [style.width]="dashitem.chartsize" fxLayout="column"
      class="dashitem">
      <mat-card fxLayout="column" [style.height]="'400px'">
        <h4 style="color: grey; text-align: center;"> {{dashitem.type}} </h4>
        
        <div *ngIf="dashitem.charttype !== 'table' && dashitem.charttype !== 'map' && dashitem.data_set.length > 0" class="chartdash">
          <canvas baseChart height="90vh" width="100" [datasets]="dashitem.data_set" [labels]="dashitem.data_labels"
            [options]="barChartOptions" [legend]="dashitem.showlegend" [chartType]="dashitem.charttype"
            (chartHover)="chartHovered($event)" [options]="chartOptions" (chartClick)="chartClicked($event)"
            [colors]="dashitem.colorscheme"></canvas>
        </div>

        <div *ngIf="dashitem.charttype === 'table' && dashitem.type === 'Website data'" class="tabledash">
          <div>
            <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
              <div fxFlex="23%">
                <h4 class="mat-h4">Source</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Visited URL</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Address</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Date</h4>
              </div>
              <div fxFlex="8%">
                <h4 class="mat-h4">isp</h4>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel (opened)="findWebsiteTrackerByIP(Websitetracker)" class="websitedata"
                *ngFor="let Websitetracker of dashitem.data_object; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
                      <div fxFlex="23%">
                        <label class="listsfont">
                          {{ Websitetracker.companyname }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.url | slice: 0:50 }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.street }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.date | date: "medium" }}</label>
                      </div>
                      <div fxFlex="8%">
                        <label class="listsfont" (click)="markisp(i)" style="font-size: 6pt">Mark isp</label>
                      </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let visit of WebsitetrackerFullList" class="websitedata" fxLayout="row" fxLayoutWrap="wrap"
                  fxLayoutAlign="space-around">
                  <div fxFlex="50%">
                    <label>{{ visit.url | slice: 0:50 }}</label>
                  </div>
                  <div fxFlex="50%">
                    <label>{{ visit.date | date: "medium" }}</label>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div *ngIf="dashitem.charttype === 'table' && dashitem.type === 'Website leads'" class="tabledash">
          <div>
            <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
              <div fxFlex="23%">
                <h4 class="mat-h4">Source</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Visited URL</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Address</h4>
              </div>
              <div fxFlex="23%">
                <h4 class="mat-h4">Date</h4>
              </div>
              <div fxFlex="8%">
                <h4 class="mat-h4">isp</h4>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel (opened)="findWebsiteTrackerByIP(Websitetracker)" class="websitedata"
                *ngFor="let Websitetracker of dashitem.data_object; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
                      <div fxFlex="23%">
                        <label class="listsfont">
                          {{ Websitetracker.companyname }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.url | slice: 0:50 }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.street }}</label>
                      </div>
                      <div fxFlex="23%">
                        <label class="listsfont">{{ Websitetracker.date | date: "medium" }}</label>
                      </div>
                      <div fxFlex="8%">
                        <label class="listsfont" (click)="markisp(i)" style="font-size: 6pt">Mark isp</label>
                      </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let visit of WebsitetrackerFullList" class="websitedata" fxLayout="row" fxLayoutWrap="wrap"
                  fxLayoutAlign="space-around">
                  <div fxFlex="50%">
                    <label>{{ visit.url | slice: 0:50 }}</label>
                  </div>
                  <div fxFlex="50%">
                    <label>{{ visit.date | date: "medium" }}</label>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div *ngIf="dashitem.charttype === 'map'" style="height: 100%; width: 100%;" onfocusout="dashitem.currentlabel = ''">
          <!-- [label]="{color: 'black', fontFamily: 'Open Sans', fontSize: '10', text: Websitetracker.companyname}"  -->
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 90%; width: 100%;"
          [styles]="mapStyle">
            <div *ngFor="let Websitetracker of dashitem.data_object" style="height: 100%; width: 100%;">
              <agm-marker
              [iconUrl]="{url: dashitem.currentlabel ===  Websitetracker ? 'https://api.xbms.io/assets/icons/colour-cirle-set/web/tick.png' : 'https://api.xbms.io/assets/icons/colour-cirle-set/office/location.png',
              scaledSize: { width: 30, height: 30 }}"
              [latitude]="Websitetracker.lat" (mouseOver)="mouseOverMapMarker(Websitetracker, i1)" [longitude]="Websitetracker.lon"></agm-marker>
            </div>
          </agm-map>
          <label *ngIf="dashitem.type === 'Website data' && dashitem.currentlabel">City: {{ dashitem.currentlabel.city }}</label>
          <label *ngIf="dashitem.type === 'Website leads' && dashitem.currentlabel">Companyname: {{ dashitem.currentlabel.companyname }}</label>
          <label *ngIf="dashitem.type === 'Google Analytics' && dashitem.currentlabel">Visits: {{ dashitem.currentlabel.data }}</label>
        </div>

        <div *ngIf="dashitem.charttype === 'table' && dashitem.type !== 'Website data' && dashitem.type !== 'Website leads' && dashitem.type !== 'Scheduled' && dashitem.data_set.length > 0"
          class="tabledash">
          <app-table [tabledata]="dashitem.data_object" [tablelabels]="dashitem.data_labels">
          </app-table>
        </div>

        <div *ngIf="dashitem.charttype === 'table' && dashitem.type === 'Scheduled'" class="tabledash">
          <label class="mat-h4">Scheduled Mailings, Ads and Articles</label>


          <table mat-table [dataSource]="dashitem.data_object" matSort style="width: 100%;">

            <!-- Position Column -->
            <ng-container matColumnDef="marketingplannereventsIds">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign </th>
              <td mat-cell class="tablefonts" *matCellDef="let element"> {{element.marketingplannereventsIds}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
              <td mat-cell class="tablefonts" *matCellDef="let element"> {{element.subject}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
              <td mat-cell class="tablefonts" *matCellDef="let element"> {{element.from}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell class="tablefonts" *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell class="tablefonts" *matCellDef="let element"> {{element.date | date: "medium" }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dashitem.data_labels"></tr>
            <tr mat-row *matRowDef="let row; columns: dashitem.data_labels;"></tr>
          </table>

          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

        </div>

        <div fxFlex="50px" fxLayout="row" *ngIf="editmode" style="z-index: 10;">
          <mat-accordion >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <mat-select [(value)]="dashitem.chartsize" (selectionChange)="detectchange()" placeholder="size">
                  <mat-option value="100%">1</mat-option>
                  <mat-option value="47%">1/2</mat-option>
                  <mat-option value="30%">1/3</mat-option>
                  <mat-option value="22%">1/4</mat-option>
                  <mat-option value="60%">2/3</mat-option>
                  <mat-option value="66%">3/4</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select [(value)]="dashitem.color" (selectionChange)="setColor(dashitem)" placeholder="color">
                  <mat-option value="auto">Auto</mat-option>
                  <mat-option value="grey">Grey</mat-option>
                  <mat-option value="red">Red</mat-option>
                  <mat-option value="blue">Blue</mat-option>
                  <mat-option value="green">Green</mat-option>
                  <mat-option value="pink">Pink</mat-option>
                  <mat-option value="yellow">Yellow</mat-option>
                  <mat-option value="azure">Azure</mat-option>
                  <mat-option value="purple">Purple</mat-option>
                  <mat-option value="darkblue">Dark blue</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select [(value)]="dashitem.charttype" (selectionChange)="detectchange()">
                  <mat-option value="table">Table</mat-option>
                  <mat-option value="line">Line</mat-option>
                  <mat-option value="bar">Bar</mat-option>
                  <mat-option value="radar">Radar</mat-option>
                  <mat-option value="pie">Pie</mat-option>
                  <mat-option value="polarArea">Polararea</mat-option>
                  <mat-option value="doughnut">Doughnut</mat-option>
                  <mat-option value="map">Map</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="dashitem.type === 'Google Analytics'">
                <mat-select [(value)]="dashitem.dimension" (selectionChange)="detectchange()">
                  <mat-option value="ga:medium">Source</mat-option>
                  <mat-option value="ga:date">Date</mat-option>
                  <mat-option value="ga:region">Region</mat-option>
                  <mat-option value="ga:city">City</mat-option>
                  <mat-option value="ga:browser">Browser</mat-option>
                  <mat-option value="ga:sessions">Sessions</mat-option>
                  <mat-option value="ga:bounces">Bounces</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="dashitem.type === 'Google Analytics' || dashitem.type === 'CRM statistics'">
                <mat-label>Choose a start date</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" (dateChange)="detectchange()" [matDatepicker]="picker1"
                  [(ngModel)]="dashitem.startdate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field *ngIf="dashitem.type === 'Google Analytics' || dashitem.type === 'CRM statistics'">
                <mat-label>Choose a end date</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" (dateChange)="detectchange()" [matDatepicker]="picker2"
                  [(ngModel)]="dashitem.enddate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field *ngIf="dashitem.type === 'Google Analytics'">
                <mat-select [(value)]="dashitem.startdate" (selectionChange)="detectchange()">
                  <mat-option value="today">Today</mat-option>
                  <mat-option value="yesterday">Yesterday</mat-option>
                  <mat-option value="30daysAgo">Last 30 Days</mat-option>
                  <mat-option value="365daysAgo">Last year</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="dashitem.type === 'Google Analytics'">
                <mat-select [(value)]="dashitem.enddate" (selectionChange)="detectchange()">
                  <mat-option value="today">Today</mat-option>
                  <mat-option value="yesterday">Yesterday</mat-option>
                  <mat-option value="30daysAgo">Last 30 Days</mat-option>
                  <mat-option value="365daysAgo">Last year</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="dashitem.type === 'CRM statistics'">
                <mat-select [(value)]="dashitem.dimension" (selectionChange)="detectchange()">
                  <mat-option value="calls-date">Calls/Date</mat-option>
                  <mat-option value="relations-calls">Relations/Calls</mat-option>
                  <mat-option value="relations-status">Relations/Status</mat-option>
                  <!-- <mat-option value="365daysAgo">Last year</mat-option> -->
                </mat-select>
              </mat-form-field>

              <mat-checkbox [(ngModel)]="dashitem.showlegend">Show legend</mat-checkbox>
              <!-- <mat-checkbox [(ngModel)]="dashitem.show">Show labels</mat-checkbox> -->


              <mat-select *ngIf="dashitem.type !== 'Google Analytics'" style="width: 200px; height: 50px;"
                placeholder="Select timeframe" [(value)]="mailStatsTimeSelected">
                <mat-option *ngFor="let mailStatsTime of mailStatsTime" [value]="mailStatsTime"
                  (blur)="getMailStats(dashitem)">
                  {{ mailStatsTime.viewValue }}
                </mat-option>
              </mat-select>

              <mat-icon (click)="deleteDashItem(i1)">delete</mat-icon>

            </mat-expansion-panel>
          </mat-accordion>

          <mat-icon matTooltip="up" (click)="moveSectionUp(i1)" class="iconsize-14 sectionlabelbuttons" matSuffix>
            arrow_drop_up</mat-icon>
          <mat-icon matTooltip="down" (click)="moveSectionDown(i1)" class="iconsize-14 sectionlabelbuttons" matSuffix>
            arrow_drop_down</mat-icon>
        </div>
      </mat-card>

    </div>

  </div>

  <!-- <div *ngIf="changenow" fxLayout="column" fxLayoutAlign="space-around">


    <div fxFlex="30%" fxLayout.lt-md="column" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div *ngIf="barChartManagerData.length > 0">
          <canvas baseChart [datasets]="barChartManagerData" [labels]="barChartManagerLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div *ngIf="barChartDataChannel.length > 0">
          <canvas baseChart [datasets]="barChartDataChannel" [labels]="barChartChannelLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>


    </div>

    <div fxFlex="30%" fxLayout.lt-md="column" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart #baseChartBar="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div fxFlex="45%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart #baseChartBarChannel="base-chart" [datasets]="barChartDataChannel"
            [labels]="barChartChannelLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>


    </div>



    <div fxFlex="30%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">

      <div fxFlex="90%" class="innerfollowup">
        <a mat-mini-fab color="primary" style="float: right;" (click)="getWebsiteTracker()">
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Website Visitors</label>
        <mat-divider></mat-divider>
        <div>
          <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
            <div fxFlex="23%">
              <h4 class="mat-h4">Source</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Visited URL</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Address</h4>
            </div>
            <div fxFlex="23%">
              <h4 class="mat-h4">Date</h4>
            </div>
            <div fxFlex="8%">
              <h4 class="mat-h4">isp</h4>
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel (opened)="findWebsiteTrackerByIP(Websitetracker)" class="websitedata"
              *ngFor="let Websitetracker of Websitetracker; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="websitedata" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
                    <div fxFlex="23%">
                      <label >
                        {{ Websitetracker.companyname }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label >{{ Websitetracker.url | slice: 0:50 }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label >{{ Websitetracker.street }}</label>
                    </div>
                    <div fxFlex="23%">
                      <label >{{ Websitetracker.date | date: "medium" }}</label>
                    </div>
                    <div fxFlex="8%">
                      <label (click)="markisp(i)" style="font-size: 6pt">Mark isp</label>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngFor="let visit of WebsitetrackerFullList" class="websitedata" fxLayout="row" fxLayoutWrap="wrap"
                fxLayoutAlign="space-around">
                <div fxFlex="50%">
                  <label >{{ visit.url | slice: 0:50 }}</label>
                </div>
                <div fxFlex="50%">
                  <label >{{ visit.date | date: "medium" }}</label>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

    </div>

    <div fxFlex.gt-xs="30%" fxFlex.lt-sm="50%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
      <div fxFlex="90%" class="doubleflex">
        <label class="mat-h4">Email Activities</label>

        <mat-divider></mat-divider>
        <mat-spinner *ngIf="mailstatsspinner" style="margin: auto;"></mat-spinner>
        <div *ngIf="mailstatsspinner === false" style="min-height: 400px">
          <canvas baseChart #baseMailChart="base-chart" [datasets]="MailChartData" [labels]="MailChartLabels"
            [options]="MailChartOptions" [legend]="MailChartLegend" [chartType]="MailChartType"
            (chartHover)="MailChartHovered($event)" (chartClick)="MailChartClicked($event)"></canvas>

        </div>
        <mat-select style="width: 200px; height: 50px;" placeholder="Select timeframe"
          [(value)]="mailStatsTimeSelected">
          <mat-option *ngFor="let mailStatsTime of mailStatsTime" [value]="mailStatsTime" (blur)="getMailStats()">
            {{ mailStatsTime.viewValue }}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div fxFlex="30%" fxLayout="row wrap" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
      <div *ngIf="doughnutChartData.length > 0" fxFlex.gt-xs="45%" fxFlex.lt-sm="90%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-divider></mat-divider>
        <div>
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            (chartHover)="chartHovered2($event)" (chartClick)="chartClicked2($event)"></canvas>
        </div>
      </div>

      <div *ngIf="doughnutChartData.length > 0" fxFlex.gt-xs="45%" fxFlex.lt-sm="90%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-form-field>
          <mat-select [(value)]="polarAreaChartType" (selectionChange)="detectchange()">
            <mat-option value="line">line</mat-option>
            <mat-option value="bar">bar</mat-option>
            <mat-option value="radar">radar</mat-option>
            <mat-option value="pie">pie</mat-option>
            <mat-option value="polarArea">Polararea</mat-option>
            <mat-option value="doughnut">Doughnut</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType">
        </canvas>
      </div>
    </div>

    <div *ngIf="lineChartData.length > 0" fxFlex="40%">
      <label class="mat-h4">Website Visitors by Day</label>
      <mat-form-field>
        <mat-select [(value)]="lineChartType" (selectionChange)="detectchange()">
          <mat-option value="line">line</mat-option>
          <mat-option value="bar">bar</mat-option>
          <mat-option value="radar">radar</mat-option>
          <mat-option value="pie">pie</mat-option>
          <mat-option value="polarArea">Polararea</mat-option>
          <mat-option value="doughnut">Doughnut</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

    <div *ngIf="barChart2Data.length > 0" fxFlex="40%">
      <label class="mat-h4">Website Visitors by Region</label>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas baseChart [datasets]="barChart2Data" [labels]="barChart2Labels" [options]="barChart2Options"
          [legend]="barChart2Legend" [chartType]="barChart2Type" (chartHover)="chart2Hovered($event)"
          [colors]="barChart2Colors" (chartClick)="chart2Clicked($event)"></canvas>
      </div>
    </div>

    <div fxFlex="30%" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">


    </div>
  </div> -->