<div *ngIf="animationarray.length > 0 && changenow" [ngStyle]="canvas" #myBounds id="myBounds" style="overflow: hidden;">
    <div *ngFor="let element of animationarray; let i = index">

        <div *ngIf="element.type === 'image'" id="{{element.id}}" style="overflow: hidden;" ngDraggable
            [bounds]="myBounds" [inBounds]="inBounds" [ngStyle]="element.style"
            [style.width]="element.style.width" [style.height]="element.style.height"
            (movingOffset)="onMoving($event, i)" [preventDefaultEvent]="true" [position]="element.setpos"
            (rzResizing)="onResizing($event, i)" ngResizable rzContainment="#myBounds" [rzAspectRatio]="true">
            <img *ngIf="element.src" style="width: 100%; height: 100%;" src={{element.src}}>
        </div>
        <label ngResizable *ngIf="element.type === 'text'" id="{{element.id}}" [attr.id]="element.id"
            ngDraggable [bounds]="myBounds" [inBounds]="inBounds"
            style="width: 100px; height: 100px; overflow: hidden;" (movingOffset)="onMoving($event, i)"
            [preventDefaultEvent]="true" [position]="element.setpos" (rzResizing)="onResizing($event, i)"
            [ngStyle]="element.style" rzContainment="#myBounds"
            [rzAspectRatio]="false">{{element.content}}</label>
        <div *ngIf="element.type === 'shape'" id="{{element.id}}" style="overflow: hidden;" ngDraggable
            [ngStyle]="element.style" [style.width]="element.style.width" [style.height]="element.style.height"
            (movingOffset)="onMoving($event, i)" [preventDefaultEvent]="true" [position]="element.setpos"
            (rzResizing)="onResizing($event, i)" ngResizable [rzAspectRatio]="false">
        </div>
    </div>

</div>