/* You can add global styles to this file, and also import other style files */

@import './theme.scss';
@import "~@ctrl/ngx-emoji-mart/picker";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: SandBrush;
  src: url("assets/fonts/SandbrushPro.ttf") format("truetype");
}
@font-face {
  font-family: Shipwreck;
  src: url("assets/fonts/SchoonerScript.ttf") format("truetype");
}
@font-face {
  font-family: WesternOld;
  src: url("assets/fonts/WesternOld.ttf") format("truetype");
}
@font-face {
  font-family: IndustrialOld;
  src: url("assets/fonts/IndustrialOld.ttf") format("truetype");
}
@font-face {
  font-family: Hillpark;
  src: url("assets/fonts/Hillpark.ttf") format("truetype");
}

body{
  background-color: #bdc3c7;
  margin: 0px;
  padding: 0px;
}

.mat-tab-header {
  background-color: #7f8c8d;
}

.backgroundcontainer {
  background: url('assets/castle.jpg');
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;   
  width: 100%;
  height: 100%;
}

.titlebox{
  width: 100%;
  margin: 0px 0px 10px 0px;
  color: grey;
}

.home-wrapper{
  position: relative;
}

.relations {
    height: 100%;
    width: 100%;
  }

.tabcontainer {
    // height: 1400px;
    min-height: 1000px;
    width: 100%;
   }


.snow {
  width: 4px;
  height: 4px; 
  background-color: white;
  border-radius: 50%;
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 4px #fcfcfc;
}

.celebrations {
  width: 8px;
  height: 30px; 
  position: absolute;
}


.leaves1 {
  width: 20px;
  height: 20px; 
  position: absolute;
  background: url(assets/icons/AUTUMNLEAF-1.png);
  background-size: 100% 100%;
}

.leaves2 {
  width: 35px;
  height: 35px; 
  position: absolute;
  background: url(assets/icons/AUTUMNLEAF-12.png);
  background-size: 100% 100%;
}

.leaves3 {
  width: 35px;
  height: 35px; 
  position: absolute;
  background: url(assets/icons/AUTUMNLEAF-14.png);
  background-size: 100% 100%;
}

.leaves3 {
  width: 35px;
  height: 35px; 
  position: absolute;
  background: url(assets/icons/AUTUMNLEAF-13.png);
  background-size: 100% 100%;
}

.flies {
  height: 1px;
	width: 1px;
  background: #613400d3;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 2px #613400;
}

.starbackground {
  background: rgb(9,76,114);
  background: -webkit-radial-gradient(bottom, ellipse cover,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
  background: -webkit-radial-gradient(ellipse at bottom, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
  background: -webkit-radial-gradient(bottom, ellipse, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
  background: radial-gradient(ellipse at bottom,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094c72', endColorstr='#01293f',GradientType=1 );
}



.stars {
	height: 2px;
	width: 2px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px gainsboro;
}




.rain {
  width: 2px;
  height: 25px; 
  background-color: lightblue;
}

.sunray {
  width: 4px;
  height: 20px; 
  background-color: rgba(255, 255, 0, 0.4);
  position: absolute;
}

.sun {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgb(246, 239, 9);
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
}

.cloud {
  width: 100px;
  height: 50px; 
  position: absolute;
  background-image: url(assets/icons/cloud.svg);
  background-size: 100% 100%;
  
}

  .form-full-width{
    width: 100%;
  }



  .relationcontainer{
    width: 65%;
    height: 100%;
    float: left;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
  }

.selection-form {
     margin-left: 6em;
   }



.drop-zone{
  min-width: 200px;
  min-height: 150px;
  height: auto;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border-style: dashed;
  border-width:5px;  
  margin: 10px;
  word-wrap: break-word;
}

.drop-zone-over {
  min-width: 200px;
  min-height: 150px;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border-style: dashed;
  border-width:5px;  
  border-color: red;
  margin: 10px;
}

.righ-upload-block{
  width: 48%;
  display: inline-block;
}

.left-upload-block{
  width: 48%;
  display: inline-block;
}

.card-left-menu{
  margin-right: 10px;
  margin-top: 10px;
}

.mat-snack-bar-container.snackbar-class { 
  background: #23549D; 
  color: white;
}

.selectrelation {
  padding-left: 100px;
  margin-left: 100px;
  height: 30px;
}

.topbanner {
  height: 60px;
  position:relative;  
  background-color: #bdc3c7;
  border-radius: 0px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-tab-list {
  .mat-tab-label[_ngcontent-c3] {
    min-width: 72px;
  }
}


.mat-card-xbms {
  padding: 2;
}

.max-expansion-panel{
  width: 100%;
  margin: 10px;
  flex-basis: auto;
}

.max-table-content{
  width: 100%;
}

.mat-expansion-panel-header-title {
  width: 100%;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
}


.buttons-container{
  padding-right: 150px;
}

.listview{
  min-height: 300px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  padding-right: 5px;
  margin: 10px 5px 10px 0px;
}

.mat-tab-body-content {
  overflow-y: hidden!important;
}

.path-edit { /* class name used in javascript too */
  // width: 100%; /* width needs to be set to 100% */
  // height: 100%; /* height needs to be set to 100% */
  position: absolute;
  left: 0;
  top: 0;
  //z-index: -1;
  background-size: cover;
  overflow: visible!important;
  //transform: matrix(1, 0, 0, 1, 0, 0)!important;
  //@extendpointer-events: none;
}

.gridcells {
  position: absolute;
  border: 1px solid lightgray; 
}

@for $i from 1 through 100{
  .iconsize-#{$i}{
    font-size: $i+unquote('px') !important;
    height: $i+unquote('px') !important;
    width: $i+unquote('px') !important;
  };
}


.listview-noshow{
  min-height: 600px;
  width: 0%;
  //margin: -50%;
  overflow: hidden;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
  }

.listview-xs-show {
  min-height: 600px;
  width: 50%;
  overflow: hidden;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
}

.listview-normal {
  min-height: 600px;
  width: 100vh;
  width: 20%;
  display: flex;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
  margin: 10px; 
}

.container-noshow{
  width: 100%;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
  }

.container-xs-show {
  width: 50%;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
}

.container-normal {
  width: 80%;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s;
  margin: 10px; 
}

.showprogressbardiv {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 102;
  background-color: white;
}

.mat-tab-header {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.svg-drag-select-area-overlay {
  border: 1px dotted lightblue;
  background-color: rgba(255,255,255,.4);
  z-index: 100000;
}

.data-selected {
  fill: rgba(173, 216, 230, 0.541)!important;
}


.imggreyclass {
  -webkit-filter: grayscale(1); /* Webkit */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* W3C */
}

.imgblur {
  filter: blur(4px);
}


.imgblursection {
  z-index: 1;
  width: calc(100% - 20px);
  // height: calc(100% - 20px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
}

$color-wing: dodgerblue;
$color-sub-wing: lighten(dodgerblue, 10%);
$color-background: #d6c18b;

$color-wing2: red;
$color-sub-wing2: lighten(red, 10%);
$color-background2: #d6c18b;

.butterfly {
  transform: scale(.3);
  //animation: hover 250ms cubic-bezier(.48,.01,.54,1) infinite;
  //animation-direction: alternate;
  animation-fill-mode: reverse;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateY(0px);
  width: 30px;
  
  &::before {
      background: darken($color-background,55%);
      border-radius: 50%;
      content: '';
      display: block;
      height: 110px;
      left: 50%;
      margin-left:-10px;
      outline: 1px solid transparent;
      position: absolute;
      top: -15px;
      transform: rotatey(100deg);
      width: 20px;
      z-index: 2;
  }
}

.wing {
  background: #888;
  display: block;
  opacity: 0.7;
  outline: 1px solid transparent;
  position: absolute;
  top: 0;
  
  &:first-child {
      //animation: leftflap 250ms cubic-bezier(.48,.01,.54,1) infinite;
      //animation-direction: alternate;
      //animation-fill-mode: reverse;
      height: 1px;
      left: 0;
      transform: rotateY(-20deg);
      transform-origin: 700% 50%;
      width: 1px;
      z-index: 3;
  }
  
  &:last-child {
      //animation: rightflap 250ms cubic-bezier(.48,.01,.54,1) infinite;
      //animation-direction: alternate;
      //animation-fill-mode: reverse;
      right:0;
      transform: rotateY(200deg);
      z-index: 1;
  }
  
  .bit {
      background: dodgerblue;
  }
  .bit::after {
      background: #ffffff4b;
  }
  
  .bit, .bit::after {
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: 100% 50%;
  }
  
  .bit:first-child {
      height: 70px;
      text-align: center;
      top: 15px;
      transform: rotateZ(40deg);
      width: 130px;
      
      &::after {
          content: '';
          display: inline-block;
          height: 60px;
          left: -30px;
          top: 5px;
          width: 100px;
      }
  }
  
  .bit:last-child {
      height: 55px;
      transform: rotateZ(-40deg);
      width: 100px;
      
      &::after {
          content: '';
          display: inline-block;
          height: 45px;
          left: -24px;
          top: 5px;
          width: 60px;
          z-index:1;
      }
  }
}



