<mat-tab-group class="relations">
  <mat-tab label="Relations Account">
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>Account
    </ng-template>

    <div class="account">
      <div fxLayout="row wrap">
        <div class="companyinfo" *ngIf="toggleedituser" fxFlex="40%">
          <div fxLayout="column">


            <h2>Account info</h2>



            <mat-form-field class="form-full-width">
              <input matInput [(ngModel)]=Account.email placeholder="Email" class="InputField">
            </mat-form-field>

            <mat-form-field class="form-full-width">
              <input matInput [(ngModel)]=Account.username placeholder="Username" class="InputField">
            </mat-form-field>


            <mat-form-field class="form-full-width">
              <input matInput placeholder="Enter your password" name="password" [(ngModel)]="Account.password"
                [type]="!hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>


            <mat-form-field class="form-full-width">
              <input matInput [(ngModel)]=Account.companyname placeholder="Company Name" class="InputField">
            </mat-form-field>

            <button (click)="saveAccount()" a mat-raised-button class="button">Save Changes</button>
            <button mat-mini-fab color="primary" (click)="toggleEditUser()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

        </div>
        <div class="companyinfo" fxFlex="40%">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h2>Set Standard Font and Colors</h2>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field>
                  <mat-label>Select font</mat-label>
                  <mat-select [(value)]="Company.companyfont">
                    <mat-option *ngFor="let font of Fonts" [value]="font.value">
                      {{font.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Primairy Color
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br>
                    <span [style.background]="Company.companyprimairycolor" [cpToggle]="true"
                      [cpDialogDisplay]="'inline'" [cpCancelButton]="true"
                      [(colorPicker)]="Company.companyprimairycolor"></span>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Secondary Color
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br>
                    <span [style.background]="Company.companysecondarycolor" [cpToggle]="true"
                      [cpDialogDisplay]="'inline'" [cpCancelButton]="true"
                      [(colorPicker)]="Company.companysecondarycolor"></span>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Signature
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                  <div [innerHTML]="Account.signature | safeHtml"></div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <button a mat-raised-button color="primary" (click)="openeditorsignature()">
                    Edit Signature
                  </button>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <button (click)="saveCompany()" a mat-raised-button class="button">Save Changes</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>


          </div>

        </div>
        <div class="companyinfo" *ngIf="!toggleedituser" fxFlex="40%">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h2>Account info</h2>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h4>{{Account.email}}</h4>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h4>{{Account.username}}</h4>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h4>{{Account.companyname}}</h4>
              </div>
            </div>
          </div>
          <button mat-mini-fab color="primary" (click)="toggleEditUser()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="companyinfo" fxFlex="40%">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h2>Company information</h2>
              </div>
            </div>

            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.companyname placeholder="Company Name" class="InputField">
              </mat-form-field>
            </div>


            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.address placeholder="Address" class="InputField">
              </mat-form-field>
            </div>



            <div fxFlex>
              <mat-form-field class="form-full-width">
                <input matInput [(ngModel)]=Company.city placeholder="City" class="InputField">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="form-full-width">
                <input matInput [(ngModel)]=Company.zipcode placeholder="Zipcode" class="InputField">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="form-full-width">
                <input matInput [(ngModel)]=Company.stateprov placeholder="State/Province" class="InputField">
              </mat-form-field>
            </div>


            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.country placeholder="Country" class="InputField">
              </mat-form-field>
            </div>


            <div fxFlex>
              <button fxFlex="90" (click)="billingCompanyCopy()" a mat-raised-button class="button">Billing address is
                the same</button>
            </div>

            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingaddress placeholder="Billing Address" class="InputField">
              </mat-form-field>
            </div>



            <div fxFlex>
              <mat-form-field fxFlex="30" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingcity placeholder="Billing City" class="InputField">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field fxFlex="30" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingzipcode placeholder="Billing zipcode" class="InputField">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field fxFlex="30" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingstateprov placeholder="Billing State/Province"
                  class="InputField">
              </mat-form-field>
            </div>


            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingcountry placeholder="Billing Country" class="InputField">
              </mat-form-field>
            </div>

            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingcontact placeholder="Billing Contact" class="InputField">
              </mat-form-field>
            </div>

            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.billingemail placeholder="Billing Email" class="InputField">
              </mat-form-field>
            </div>


            <div fxFlex>
              <mat-form-field fxFlex="90" class="form-full-width">
                <input matInput [(ngModel)]=Company.phonenumber placeholder="Phonenumber" class="InputField">
              </mat-form-field>
            </div>

            <div fxFlex>
              <button (click)="saveCompany()" a mat-raised-button class="button">Save Changes</button>
            </div>
          </div>

        </div>

        <div class="companyinfo" fxFlex="40%">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h2>Password</h2>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="example-full-width">
                  <input matInput name="password" type="password" [(ngModel)]="oldpassword" placeholder="Old Password"
                    [formControl]="passwordFormControl">
                </mat-form-field>
              </div>
              <div fxFlex>
                <button (click)="openDialogDeleteAccount()" a mat-raised-button class="button">Delete My
                  Account</button>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="example-full-width">
                  <input matInput name="password" placeholder="New Password" type="password"
                    [formControl]="passwordFormControl" [(ngModel)]="newpassword">
                  <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                  <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
                    Please enter a Password
                  </mat-error>
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <button (click)="logout()" a mat-raised-button class="button">Logout</button>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <button (click)="changePassword()" a mat-raised-button class="button">Change Password</button>
              </div>
              <div fxFlex>
                <div *ngIf="passwordsuccess">
                  <i class="material-icons">check_circle</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="companyinfo" fxFlex="40%" *ngIf="Account.companyadmin">
          <div class="teammembers" class="team">
            <h2>Teammembers {{Account.companyname}}</h2>
            <br>
            <div *ngFor="let Team of Team; let i = index">
              <div fxLayout="column" class="team" cellspacing="0">
                <div fxLayout="row" fxLayout.xs="column" style="width: 100%;">
                  <div fxFlex>
                    <label>{{ Team.username }}</label>
                  </div>
                  <div fxFlex>
                    <label>{{ Team.teamName }}</label>
                  </div>
                  <div fxFlex>
                    <a mat-mini-fab color="primary" (click)="deleteTeamMember(Team, i)">
                      <mat-icon>delete</mat-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="Account.companyadmin" class="createteam">
            Create Teammember (send invite) {{Account.companyname}}
            <form>
              <div fxLayout="column" class="form-login" cellspacing="0">
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <mat-form-field class="form-full-width">
                      <input matInput name="email" type="email" [(ngModel)]="newAccount.email" placeholder="email" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <mat-form-field class="form-full-width">
                      <input matInput name="password" type="password" [(ngModel)]="newAccount.password"
                        placeholder="password" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <mat-form-field class="form-full-width">
                      <input matInput name="username" type="username" [(ngModel)]="newAccount.username"
                        placeholder="username" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <mat-form-field class="form-full-width">
                      <input matInput name="Team name" type="Team name" [(ngModel)]="newAccount.teamname"
                        placeholder="Team name" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                  <button (click)="createTeamMember()" a mat-raised-button class="button">Create Member</button>
                </div>
              </div>
            </form>
          </div>


        </div>
        <div class="companyinfo" fxFlex="40%">
          <div fxLayout="column" class="form-login" cellspacing="0">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <h2>Email Info</h2>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="form-full-width">
                  <input matInput name="emailusername" type="email" [(ngModel)]="Emailhandler.username"
                    placeholder="username" />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="form-full-width">
                  <input matInput name="emailpassword" type="password" [(ngModel)]="Emailhandler.password"
                    placeholder="password" />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="form-full-width">
                  <input matInput name="Team name" type="Team name" [(ngModel)]="Emailhandler.host"
                    placeholder="Mail Server" />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="form-full-width">
                  <input matInput name="Team name" type="value" [(ngModel)]="Emailhandler.port" placeholder="port" />
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-checkbox [(ngModel)]="Emailhandler.tls">TLS</mat-checkbox>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field class="form-full-width">
                  <input matInput name="Team name" type="value" [(ngModel)]="Emailhandler.mailbox"
                    placeholder="mailbox" />
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field>
                  <mat-select [(ngModel)]="Emailhandler.searchfilter">
                    <mat-option value="FLAGGED">FLAGGED</mat-option>
                    <mat-option value="UNSEEN">UNSEEN</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex>
                  settings offices 365
                </div>
                <button a mat-raised-button (click)="Emailhandler.port = '993'; 
                Emailhandler.host = 'outlook.office365.com';
                Emailhandler.tls = true;"></button>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-checkbox [(ngModel)]="Emailhandler.markseen">Mark Seen</mat-checkbox>
              </div>
              <div fxFlex>
                <mat-checkbox [(ngModel)]="Emailhandler.attachments">Save Attachments</mat-checkbox>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <button (click)="createEmailHandler()" a mat-raised-button class="button">Save</button>
              </div>
              <div fxFlex>
                <button (click)="deleteEmailhandler()" a mat-raised-button class="button">Delete</button>
              </div>
            </div>
          </div>

        </div>
        <div class="companyinfo" fxFlex="40%" fxLayout="column" fxLayoutAlign="space-around">
          <h2>Domain Settings</h2>


          <label>setup new domain</label>
          <br>
          <mat-form-field fxFlex class="form-full-width">
            <input matInput [(ngModel)]=Company.companywebsite placeholder="Domain">
          </mat-form-field>
          <br>
          <div fxLayout="column" fxLayoutAlign="space-around">
            <div fxLayout="row">
              <h3 fxFlex>Type</h3>
              <h3 fxFlex>Hostname</h3>
              <h3 fxFlex>Value to enter</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <label fxFlex>TXT</label>
              <label fxFlex>{{Company.companywebsite}}</label>
              <label fxFlex>v=spf1 include:mailgun.org ~all</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <label fxFlex>CNAME</label>
              <label fxFlex>{{Company.companywebsite}}</label>
              <label fxFlex>mailgun.org</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <label fxFlex>MX</label>
              <label fxFlex>priority: 10</label>
              <label fxFlex>mxa.mailgun.org</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <label fxFlex>MX</label>
              <label fxFlex>priority: 10</label>
              <label fxFlex>mxb.mailgun.org</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around">

            </div>
          </div>
          <button (click)="saveCompany()" a mat-raised-button class="button">Save domain settings</button>
          <!-- <button (click)="setDomain()" a mat-raised-button class="button">Check settings</button> -->
          <button (click)="checkDomainSettings()" a mat-raised-button class="button">Check Status</button>
          <div *ngIf="domainresponse" fxFlex>
            <label style="font-size: 8pt; overflow-wrap: break-word;">{{domainresponse}}</label>
          </div>
        </div>

      </div>
    </div>
  </mat-tab>

  <mat-tab label="Invoices" (click)="getInvoices()">
    <ng-template mat-tab-label>
      <mat-icon>money</mat-icon>Invoices
    </ng-template>
    <div class="tab">
      <button mat-button (click)="getInvoices()">Load Invoices</button>
      <div *ngFor="let file of files; let i = index;" class="invoicelabel">
        <mat-icon>money</mat-icon>
        <label class="invoicelabel">{{file.Key}}</label>
        <mat-icon (click)="getFile(i)">cloud_download</mat-icon>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Unsortedcalls">
    <ng-template mat-tab-label>
      <mat-icon>mail</mat-icon>Unsorted Emails
    </ng-template>
    <button a mat-raised-button (click)="openDialogDeleteAllCall()">Delete All</button>
    <div class="tabcontainer" fxLayout="row">
      <div class="listcontainer" fxFlex="20%">
        <h4>Search</h4>
        <mat-form-field>
          <input matInput #searchTerm id="seach-box" (keyup.enter)="searchCallGo(searchTerm.value)"
            placeholder="Call title/content" />
        </mat-form-field>


        <button a mat-raised-button (click)="searchCallGo(searchTerm.value)">Search</button>

        <button a mat-raised-button (click)="getUnCalls()">Show All</button>



        <div class="listview" fxLayout="column">
          <div fxFlex *ngFor="let Unsortedcalls of Unsortedcalls; let i = index"
            (click)="onSelectCall(Unsortedcalls, i)" [class.selected]="Unsortedcalls === selectedCall">
            <span class="box">{{Unsortedcalls.title | slice:0:20 }} | {{Unsortedcalls.date | date}}</span>
          </div>
        </div>

      </div>
      <div fxFlex="80%" *ngIf="selectedCall">
        <mat-card>
          <mat-card-content style="padding: 30px;" fxLayout="row">
            <div fxLayout="column" class="unsortedcalls" fxFlex>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Select Relation" aria-label="relation" [(ngModel)]=option matInput
                      [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option.relationname }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div fxFlex>
                  <button a mat-raised-button (click)="assignCall()">Assign To</button>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                  <mat-form-field>
                    <input matInput google-place (onSelect)="setAddress($event)" [(ngModel)]=newRelation.relationname
                      placeholder="New Relation Name" class="InputField" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>

                  <mat-select [(ngModel)]=newRelation.status placeholder="Status" class="InputField">
                    <mat-option *ngFor="let statustype of statustype" [value]="statustype.value">
                      {{ statustype.viewValue }}
                    </mat-option>
                  </mat-select>

                </div>
                <div fxFlex>
                  <button a mat-raised-button (click)="createNewAssign()">Assign and Create New</button>
                </div>
              </div>
              <br>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlexcolspan="2">
                  <mat-toolbar color="primary" class="titlebox">
                    <h2>{{selectedCall.title | uppercase | slice:0:30 }}</h2>
                    <button mat-icon-button [matMenuTriggerFor]="menucall" class="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menucall="matMenu">
                      <button mat-menu-item (click)="openDialogDeleteCall()">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </mat-toolbar>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                  <mat-form-field>
                    <input matInput [(ngModel)]=selectedCall.title placeholder="Title" class="InputField">
                  </mat-form-field>
                </div>
                <div fxFlex>
                  <mat-select [(ngModel)]=selectedCall.calltype placeholder="calltype" class="InputField">
                    <mat-option *ngFor="let calltype of calltype" [value]="calltype.value">
                      {{ calltype.viewValue }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                  {{selectedCall.email}}
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlexcolspan="2">
                  <mat-datepicker #picker1></mat-datepicker>
                  <input [matDatepicker]="myDatepicker1" [(ngModel)]=selectedCall.date placeholder="Call Date">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker1></mat-datepicker>
                </div>
              </div>
              <br>
              <div fxLayout="row" fxLayout.xs="column" *ngIf="!selectedCall.html" rowspan="10">
                <div fxFlexcolspan="2">
                  <div> {{selectedCall.content}} </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" *ngIf="selectedCall.html">
                <div fxFlexcolspan="2">
                  <div [innerHTML]="selectedCall.html"></div>
                </div>
              </div>
              <br>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlexcolspan="2">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Follow Up
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div fxLayout="column">
                        <div fxLayout="row" fxLayout.xs="column">
                          <div fxFlexclass="tg-yw4l">
                            <mat-checkbox [(ngModel)]=selectedCall.followup [(indeterminate)]="indeterminate"
                              [disabled]="disabled">
                              Follow Up
                            </mat-checkbox>
                          </div>
                          <div fxFlexclass="tg-yw4l">
                            <mat-datepicker #picker></mat-datepicker>
                            <input [matDatepicker]="myDatepicker" [(ngModel)]=selectedCall.callbackdate
                              placeholder="Callback Date">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="System">
    <ng-template mat-tab-label>
      <mat-icon>system</mat-icon>System Logs
    </ng-template>

    <div style="height: 400px; width: 100%; margin: 10px">
      <div *ngFor="let log of logs" fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="25%">{{log.date | date: "medium" }}</div>
        <div fxFlex="25%">{{log.item}}</div>
        <div fxFlex="25%">{{log.code}}</div>
        <div fxFlex="25%">{{log.description}}</div>
        <mat-divider></mat-divider>
      </div>
    </div>

  </mat-tab>

  <!-- <mat-tab label="Wordpress Websites">
    <ng-template mat-tab-label>
      <mat-icon>web</mat-icon>Wordpress
    </ng-template>
    <div class="account-container">
      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column">
          <button (click)="wpauth()" a mat-raised-button class="button">Add Wordpress Website</button>

        </div>
      </div>

      <b>To setup Wordpress:</b>

      <li>1. Got to your wordpress admin panel and Install the "WP REST API - OAuth 1.0a Server" plugin. </li>
      <li>2. Activate the plugin</li>
      <li>3. Go to User/Applications</li>
      <li>4. Add the system callback URL: http://localhost:4200/settings</li>
      <li>5. Create new User </li>
      <li>5. Get the Client Key and Client Secret and save in the above</li>
      <li>7. Press Add Wordpress Website above</li>
    </div>
  </mat-tab> -->
</mat-tab-group>